a:hover {
    color: #333;
    text-decoration: none;
}
.article {
	margin-top: 40px;
}
.article-head {
	width: 100%;

}
.article-head .title {
	padding: 23px 17px 27px 17px;
    text-align: left;
    font-size: 28px;
    line-height: 32px;
    color: #fff;
    background-color: transparent;
    font-family: 'SourceHanSansCN-Normal';
}

.article-head .time {
    padding-left: 17px;
    padding-bottom: 12px;
 }
 .article-head .time span {
    display: inline-block;
    font: 10px;
    color: white;
    margin-right: 5px;
}
.article-desc .desc {
    margin-bottom: 40px;
}
.article-desc .desc span {
    display: inline-block;
    padding: 0 15px 25px 15px;
}
.article-desc img {
	width: 100%;
}
.article-desc span{
	font-size: 18px; 
	line-height: 30px; 
	color: rgb(51, 51, 51);
}
.article-content {
	padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    word-break: normal;
    word-wrap: break-word;
    text-align: justify;
}

.to-everyday {
    padding: 10px 20px; 
    display: block;
    border-top-width: 1px; 
    border-top-style: solid; 
    border-top-color: rgb(238, 238, 238); 
    background: rgb(255, 255, 255);
}
.everyday-word {
    border-left: 5px solid #62c3a2;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    height: 29px;
    line-height: 29px;
    color: #333;
}

.to-everyday .icon img {
    width: 29px;
}
.commodity{
     border-top: 1px solid #ddd;  
     border-bottom: 1px solid #ddd;
     padding: 15px 10px 15px 10px;
}

/*相关阅读*/
.content-relate  {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
.content-relate .title .relate-img {
    display: inline-block;
    height: 20px;
    width: 15px;
    background: url("/imagesforarticle/wenzhang_relateread.png") no-repeat;
    background-size: cover;
    vertical-align: bottom;
  }
  .content-relate .title span {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
    color: #333;
  }
.content-relate .title{
    border-bottom: 1px solid #333;
    padding-bottom: 14px;
}

.content-relate .relate-title {
    font-size: 15px;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    border-bottom: 1px dashed #a1a1a1;}

.detail-header {
    height: 39px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 1px solid #eee;
}
.cart-commoditys {
  border-top:1px solid #ddd;  
  padding: 0;
}
.cart-commoditys .commoditys-item {
 padding:15px 10px 15px 10px;
 border-bottom:1px solid #ddd;  
}
.cart-commoditys .commoditys-img {
  width: 90px;
}
.cart-commoditys .commoditys-img img{

}
.cart-commoditys .commoditys-detail {
  margin-left: 10px;
  margin-right: 20px;
  flex: 1;
}
.cart-commoditys .commoditys-title {
    color: #333;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    white-space: nowrap;
}
.cart-commoditys .commoditys-size {
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cart-commoditys .oneprice {
    color: #61c3a2;
    font-size: 14px;
    line-height: 24px;
}
.commoditys-price {
   padding: 17px 0;
}
.cart-commoditys .classify-price {
  width:72px;
}
.cart-commoditys .commoditys-classify {
  padding: 0;
  margin: 0;
  color: #7da0b4;
  height: 22px;
  width: 21px;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  border: 1px solid #ddd;
}
.cart-commoditys .commoditys-classify:nth-child(2) {
  border-left: 0;
  border-right: 0;
}

.doCommodity {
  padding: 0;
}
.buy-immediate{
  background-color:#7da1b4; 
  font-size:12px; 
  color:#fff;
  line-height:25px; 
  text-align:center;
  width:47%; 
  height:25px;
}
.addto-shopcar {
  background-color: #61c3a2;
  font-size: 12px;
  color: #fff;
  line-height: 25px;
  text-align: center;
  width:47%; 
  height:25px;
}
