 * {
	box-sizing: border-box;
} 
html, body {
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
}
 .wrapper {
	 position: relative;
	 top: 40px;
 }
 .Header-nav {
	 float: right;
	 margin-right: 5px;
 }
 .Navigation
 .Navigation-link, .Navigation-link_over {
	 display: inline-block;
	 float: right;
	 text-decoration: none;
	 font-size: 16px;
	 text-align: center;
	 text-indent: -9999px;
	 height: 37px;
	 padding: 0 10px;
 }
 .Navigation-link_over {
	 border-bottom: 2px solid rgb(119, 205, 176);
 }

 .juhe_menu_txt {
	 float: left;
	 width: 30px;
	 height: 38px;
	 background-repeat: no-repeat;
 }
 .juhe_menu_meitian {
	 background-image: url(/images/top/wechat_icon.png);
	 background-position: -83px -6px;
	 background-size: 480px;
 }
 .Navigation-link_over > .juhe_menu_meitian{
	 background-image: url(/images/top/wechat_icon.png);
	 background-position: -83px -45px;
	 background-size: 480px;
 }
 .juhe_menu_shangcheng {
	 background-image: url(/images/top/wechat_icon.png);
	 background-position: -230px -6px;
	 background-size: 480px;
 }
 .Navigation-link_over > .juhe_menu_shangcheng {
	 background-image: url(/images/top/wechat_icon.png);
	 background-position: -230px -45px;
	 background-size: 480px;
 }
 .juhe_menu_source {
	 background-image: url(/images/top/icon_resources_default.png);
	 background-position: 50% 58%;
	 background-size: 22px;
 }
 .Navigation-link_over > .juhe_menu_source {
	 background-image: url(/images/top/icon_resources_select.png);
	 background-position: 50% 58%;
	 background-size: 22px;
 }
 .juhe_menu_shucheng {
	 background-image: url(/images/top/icon_book_default.png);
	 background-position: 50% 58%;
	 background-size: 20px;
 }
 .Navigation-link_over > .juhe_menu_shucheng {
	 background-image: url(/images/top/icon_book_select.png);
	 background-position: 50% 58%;
	 background-size: 22px;
 }
 
 
 

/*common visual css*/
.bdr-mg {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin: 10px 0;
}
.bg-white {
	background-color: #fff;
}
.f-level-title {
	margin-top: 1em;
	font-size: 14px;
	font-weight: lighter;
	line-height: 3em;
	color: #62c3a2;
	text-align: center;
}
.rem::before {
	content: '￥';
}

/*page style css*/
.PageHeader {
	position: fixed;
	z-index: 10000;
	width: 100%;
	height: 40px;
	padding-right: 5px;
	border-bottom: 1px solid #eee;
}

.header-title {
	padding-left: .5em;
	padding-right: .5em;
	line-height: 40px;
}
.header-btn {
	width: 50px;
	height: 100%;
	text-align: center;
}
.user-menu {
	border-right: 1px solid #eee;
	background: url(/images/top_icon.png) no-repeat 11px 11px;
	background-size: 50px 235px;
}
.hd-btn-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.book-store-menu .hd-btn-icon{
	background: url(/images/top_icon.png) no-repeat 3px -120px;
	background-size: 65px 300px;
}
.book-store-menu-cur {
	border-bottom: 2px solid #77cdb0;
}
.book-store-menu-cur .hd-btn-icon {
	background: url(/images/top_icon.png) no-repeat 3px -120px;
	background-size: 65px 300px;
}

.good-store-menu .hd-btn-icon{
	background: url(/images/top_icon.png) no-repeat 3px -66px;
	background-size: 65px 300px;
}
.good-store-menu-cur {
	border-bottom: 2px solid #77cdb0;
}
.good-store-menu-cur .hd-btn-icon {
	background: url(/images/top_icon.png) no-repeat 3px -66px;
	background-size: 65px 300px;
}


.hot-sort-box {
	padding-bottom: 20px;
}
.hot-sort-title,  {
}
.hot-sort-content {

}
.hot-sort-content>.cell {
	display: inline-block;
	width: 25%;
	text-align: center;
}
.sort-icon {
	width: 24px;
	height: 24px;
}
.sort-title {
	font-size: 12px;
	font-weight: lighter;
	color: #333;
}

.recmd-title {
}
.recmd-bks>.cell {
	display: inline-block;
	width: 33%;
	padding: 5%;
	font-size: 12px;
	color: #62c3a2;
	text-align: center;
}
.bk-cover {
	width: 70%;
}
.bk-title {
	height: 3em;
	color: #333;
	overflow: hidden;
}
.bk-price {
	color: #62c3a2;
}
.find-more {
	display: block;
	margin: 20px;
	border-top: 1px solid #eee;
	font-size: 12px;
	line-height: 3em;
	color: #777;
	text-align: center;
}
.fd-more-btn {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #62c3a2;
	border-radius: 100%;
	background: url(/images/top_icon.png) no-repeat -12px 9px;
	background-size: 30px 150px;
}
.sort-browse-content {
	padding: 5%;
}
.sort-browse-content>.cell {
	display: inline-block;
	width: 50%;
	height: 66px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.cell-img {
	width: 30%;
}
.cell-img>img {
	width: 100%;
	height: 100%;
}
.cell-text {
	padding-left: 10px;
	width: 70%;
}
.cell-text>h3 {
	font-size: 14px;
	color: #333;
}
.cell-text>h5 {
	font-size: 10px;
	color: #999;
	line-height: 1em;
}
.cell-text .bk-num-wrap {
	padding-top: .5em;
	line-height: 1.5em;
}
.cell-text .bk-title {
	height: 2em;
	overflow: hidden;
}



