/*搜索*/

body {
	background: #fff;
  font-size: 14px;
  line-height: 22px;
  table-layout: fixed;
  word-break: break-all;
  font-family: '微软雅黑',Arial, Helvetica, sans-serif;
}
.source-search {
	border-bottom:1px solid #eee;
}
.source-search .search-form {
  width: 80%; 
  margin: auto; 
  padding: 15px;
}
.search-box {
	background-color: #f8f8f8; 
	border: 1px solid #eee;
	border-radius: 25px; 
}
.search-box .search-input {
	float: left;
	width: 70%;
	color: #ddd; 
	padding: 5px 0px 5px 15px; 
}
.search-input input {
	width: 100%;
	height: 20px; 
	color: #101010; 
	border: 0; 
	background-color: #f8f8f8; 
	line-height: 20px;
}
.search-box .tosearch {
	float: right;
	border-left: 1px solid #eee; 
	padding: 5px 15px 5px 15px; 
	color: #777;
}
.source-search .submit {
	display: none
}

/*资源分类*/
.source-classify {

	padding: 10px 20px 10px 20px; 
	border-bottom: 1px solid #eee;
}

.source-type { 
  float: left;
  height: 50px;
	border-bottom: 2px solid #fff; 
	color: #333;
	width: 20%;
	text-align: center;
	line-height: 50px;
}
.source-type-over {
	float: left;
	width: 20%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-bottom: 2px solid #62c3a2; 
	color: #62c3a2;
}

/*资源显示*/
.sourceBox{
	background-color: #f0f0f0;
}
.left-box {
  float: left;
  width: 50%;
  background-color: #f0f0f0;
}
.right-box {
  float: right;
  width: 50%;
  background-color: #f0f0f0;
}
.left-box .item{
  padding:10px 7px 0 7px;
}    
.right-box .item{
  padding:10px 7px 0 0px;
}

.source-box {
	display: block;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #fff;
  padding-top: 5px;
}
.source-img {
  width:20px;
  height: 20px; 
  vertical-align: middle; 
  margin-bottom: 2px;
}
.source-img-box {
  position: absolute; 
  z-index: 1;
  padding: 5px;
}
.source-name {
	color: #333;
  font-size: 14px; 
  padding: 5px 10px 5px 10px;
}
.source-desc {
  font-size: 12px; 
  padding: 0 10px 5px 10px; 
  line-height: 15px; 
  color: #777;
}
.source-count {
  padding: 5px 10px 10px 10px; 
  font-size: 10px; 
  line-height: 10px;   
}
.source-count-img1 {
  float:left;
  padding-right:5px;
  width:11px;
  height:10px;
}
.source-count-img2 {
  float:left;
  padding-right:5px;
  padding-left:10px;
  width:11px;
  height:10px;
}
.source-count-font {
  float:left;
  font-size: 10px; 
  color: #999;
  line-height: 10px;
}