
.PageShopHome {
  $fontStack: 'FZLTXHJW';
  $fontSize10: 10px;
  $fontSize12: 12px;
  $fontSize14: 14px;
  $fontSize15: 15px;
  $fontSize16: 16px;
  $colorDDD: #ddd;
  $colorWhite: #fff;
  $fontColor3: #333;
  $fontColor77cdb0: #77cdb0;
  $fontColor74cdaf: #74cdaf;
  $borderColorE0: 1px solid #e0e0e0;
  $borderColorE1: 1px solid #e1e1e1;
  $borderColor62c3a2: 1px solid #62c3a2;
  $borderColorfeb794: 1px solid #feb794;
  $bgColorF6: #f6f6f6;
  $bgColorE1: #e1e1e1;
  $bgColorDB: #dbdbdb;
  $w15: 15%;
  $w25: 25%;
  $w455: 45.5%;
  $w60: 60%;
  $w85: 85%;
  $w100: 100%;
  .img-common {
    position: absolute;
    top: 0;
    left: 0;
    width: $w100;
    height: 100%;
  }
  /* nav -start*/
  .nav {
    width: $w100;
    padding: 10px 0 2px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    .nav-box {
      width: $w100;
    }
    .nav-item {
      width: $w25;
      text-align: center;
      display: block;
      .nav-img-wrapper {
        width: $w60;
        margin: 0 auto;
        .nav-img-container {
          position: relative;
          padding-top: 100%;
          img{
            @extend .img-common;
          }
        }
      }
      .category-name {
        display: inline-block;
        width: $w100;
        padding-top: 10px;
        text-align: center;
        font-size: $fontSize14;
        font-family: $fontStack;
        overflow: hidden;
      }
      a {
        color: $fontColor3;
      }
    }
  }
  /* hear-news start*/
  .hot-news {
    width: $w100;
    height: 40px;
    border-top: $borderColorE0;
    border-bottom:  $borderColorE0;
    position: relative;
    overflow: hidden;
    &:after {
      position: absolute;
      top: 4px;
      left: 15%;
      content: "";
      height: 30px;
      width: 1px;
      background-color: $bgColorDB;
      visibility: inherit;
    }
    .hot-box {
      display: inline-block;
      width: $w15;
      text-align: center;
      height: 100%;
      line-height: 35px;
      .hot {
        height: 18px;
        width: 30px;
        border: $borderColorfeb794;
        padding: 3px 5px;
        border-radius: 4px;
        font-size: $fontSize12;
      }
    }
    .news {
      position: absolute;
      /*top: 40px;*/
      display: inline-block;
      box-sizing: border-box;
      padding: 0 3%;
      width: $w85;
      margin-left: 8px;
      -webkit-transform: translate3d(0, 0, 0);
      .news-content {
        display: block;
        font-size: $fontSize12;
        overflow: hidden;
        width: $w100;
        line-height: 40px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .news-item {
        height: 100%;
        width: $w100;
      }
    }
  }
  /*content start*/
  .content {
    background-color: $bgColorF6;
    background: url(/images/shangcheng_bg.png) repeat;
    padding-bottom: 20px;
    .category-header {
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: $bgColorE1;
      .category-title {
        padding: 10px 0;
        padding-left: 40px;
        font-size: $fontSize15;
        font-family: $fontStack;
        background-repeat: no-repeat;
        background-size: auto 70%;
        background-position: left center;
      }
      .more {
        width: 20px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 100% 50%;
        background-position: center;
        background-image: url(/images/commodityDetailImage/more.png);
        .more-text {
          color: $fontColor74cdaf;
        }
      }
    }
    .shop-item {
      box-sizing: border-box;
      margin: 10px 0 3px 3%;
      width: $w455;
      background-color: $colorWhite;
      border: $borderColorE1;
      box-shadow: 1px 1px 2px $colorDDD;
      border-radius: 3px;
      .goods-img-container {
        position: relative;
        padding-top: 100%;
        .goods-img {
          @extend .img-common;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }
      }
      .goods-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: $fontSize14;
        line-height: 22px;
        height: 40px;
        margin: 5px;
        font-family: $fontStack;
      }
      .goods-price {
        margin: 10px 5px 5px 5px;
        font-size: $fontSize16;
        line-height: 1em;
        color: $fontColor77cdb0;
        &:before {
          content: '￥';
        }
      }
    }
  }
}
