* {
	box-sizing: border-box;
	font-weight: 500;
}
.PageHeader {
	display: none;
}
html, body {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.clearfix {
	overflow: visible;
}
#Duoyue, .app, .wrapper, .SourcePdf {
	height: 100%;
}
.wrapper {
	top: 0;
}
.SourcePage {
}
.SourceDownLoad {
	padding-top: 40px;
	position: relative;
	.poster-wrap {
		width: 46.78%;
		height: 150px;
		margin: auto;
		margin-top: 6%;
		box-shadow: 0 3px 3px 0 rgba(0,0,0,.22);
		.source-poster {
			width: 80%;
			height: 100%;
			margin: auto;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.source-title {
		width:46%;
    height: 7em;
    margin:0 auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 4em;
    color: #333;
    text-align: center;
	}
	.action-wrap {
		margin-left: 35px;
		margin-right: 35px;
		border-top: 1px solid #eee;
		font-size: 12px;
		.action-box {
			padding-top: 30px;
			.download-local-btn,
			.send-to-phone-btn {
				position: relative;
				width: 50%;
				text-align: center;
				color: #62c3a2;
				margin-bottom: 15px;
				.icon {
					display: inline-block;
					width: 35px;
					height: 42px;
					background-image: url(/images/source_download.png);
					background-repeat: no-repeat;
					background-size: 50px 400px;
				}
			}
			.download-local-btn {
				.icon {
					background-position: -7px -278px;
				}
			}
			.down-over {
				color: #666;
				.icon {
					background-position: -7px -179px;
				}
			}
			.send-to-phone-btn {
				border-left: 1px solid #ddd;
				.icon {
				background-position: -8px -81px;
				}
			}
			.send-over {
				color: #666;
				.icon {
				background-position: -8px -5px;
				}
			}
		}
	}
	.input-wrap {
		position: relative;
		border-top: 1px solid #eee;
		margin-left: 35px;
		margin-right: 35px;
		font-size: 12px;
		text-align: center;
		::-webkit-input-placeholder { /* WebKit browsers */
	    font-weight: 700;
	    color: #c6c6c6;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			font-weight: 700;
			color: #c6c6c6;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			font-weight: 700;
			color: #c6c6c6;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-weight: 700;
			olor: #c6c6c6;
		}
		.num-input {
			width: 100%;
			height: 3em;
			border-radius: 10px;
			border: 1px solid #eee;
			margin-top: 2em;
			margin-bottom: 2em;
			text-align: center;
			background-color: #f8f8f8; 
		}
		.submit-btn {
			display: inline-block;
			padding: .4em 3em;
			border-radius: 2px;
			margin: auto;
			font-size: 14px;
			text-align: center;
			color: #fff;
			background-color: #62c3a2;
		}
	}
	.arrow-top::before {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 0;
		height: 0;
		pointer-events: none;
		content: "";
		border-color: transparent;
		border-style: outset solid solid;
	}
	.arrow-top::before {
		border-width: 12px;
		top: -24px;
		right: 20%;
		border-bottom-color: #eee;
	}

	.arrow-top::after {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 0;
		height: 0;
		pointer-events: none;
		content: "";
		border-color: transparent;
		border-style: outset solid solid;
	}
	.arrow-top::after {
		top: -24px;
		right: 20%;
		margin-top: 2px;
		margin-right: 1px;
		border-width: 11px;
		border-bottom-color: #fff;
	}
}