.SourcePdfCatalogPage {
  $fontStack: '\5FAE\8F6F\96C5\9ED1',Arial, Helvetica, sans-serif;
  /*fontsize*/
  $fontSize14: 14px;
  $fontSize16: 16px;
  /*fontcolor*/
  $fontColor3: #333;
  $fontColor77CDB0: #77cdb0;
  /*bgcolor*/
  $bgColorFB: #fbfbfb;
  $bgColorWhite: #fff;
  /*width*/
  $w3333: 33.33%;
  $w100: 100%;
  /*outline*/
  $outlineBD: 1px solid #bdbdbd;
  $outline277CDB0: 2px solid #77cdb0;
  width: $w100;
	height: 100%;
	background-color: $bgColorWhite;
	padding-top: 40px;
  * {
    box-sizing: border-box;
    font-weight: 500;
    font-family: $fontStack;
  }
	.ReturnButton {
		width: initial!important;
		font-size: $fontSize14;
		line-height: 40px;
		color: $fontColor77CDB0;
		background: transparent!important;
		.icon {
			padding-left: 20px;
			background: url(/images/arrow_icon.png) -72px 2px;
			background-size: 100px 300px;
		}
	}
	.content-wrap {
		padding: 3.75%;
		word-break: break-all;
		background-color: $bgColorFB;
		.item {
			display: inline-block;
			width: $w3333;
			padding: 2.7%;
			color: $fontColor3;
			.thumbnail {
				width: $w100;
				height: 118px;
				outline: $outlineBD;
			}
			.thumbnail-index {
				font-size: $fontSize16;
				font-weight: lighter;
				text-align: center;
			}
		}
		.cur {
			color: $fontColor77CDB0;
			.thumbnail {
				outline: $outline277CDB0;
			}
		}
	}
}
