* {
	box-sizing: border-box;
	font-weight: 500;
}
html, body {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.clearfix {
	overflow: visible;
}
#Duoyue, .app, .wrapper, .SourcePdf {
	height: 100%;
}
.wrapper {
	top: 0;
}
.SourcePdf {
	width: 100%;
	height: 100%;
	.header {
		border-bottom: 1px solid #e5e5e5 !important;
	}
	.SourcePdfZoomBox {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: #ececec;
		.zoom-box {
			height: 100%;
		}
		.content {
			position: relative;
			width: 100%;
			height: 100%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-transform:translate3d(0,0,0);
		}
	}
}