#Duoyue, .app, .wrapper, .SourcePdf {
  height: 100%;
}
.wrapper {
  top: 0;
}
.SourcePdf {
  $borderD: 1px solid #ddd;
  $borderE5: 1px solid #e5e5e5;
  $bgColorEC: #ececec;
  $bgColorWhite: #fff;
  $w100: 100%;
  width: $w100;
  height: 100%;
  background-color: $bgColorWhite;
  * {
    box-sizing: border-box;
    font-weight: 500;
  }
  width: $w100;
  height: 100%;
  .header {
    border-bottom: $borderE5 !important;
  }
  .SourcePdfZoomBox {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $w100;
    background-color: $bgColorEC;
    .zoom-box {
      height: 100%;
    }
    .content {
      position: relative;
      width: $w100;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  .footer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: $w100;
    height: 50px;
    overflow: hidden;
    text-align: center;
    padding: 5px 5% 0;
    background-color: $bgColorWhite;
    border-top: $borderD;
  }
}
