.topbox {
 position: fixed; 
 left: 0; 
 top: 0; 
 z-index: 10000;
 width: 100%;
 padding: 0 10px;
 background-color: #fff; 
 border-bottom: 1px solid #ddd; 
 height: 39px;
}

.topbox .back-check {
  width: 40px;
  height:100%;
  text-align: center;
}
.back-check img{
  width: 22px; 
  height: 19px;
  margin-left: -20px;
  margin-top: 10px;
}
