.VideoModule {
  /*fontsize*/
  $fontSize10: 10px;
  $fontSize12: 12px;
  $fontSize14: 14px;
  /*fontcolor*/
  $fontColor3: #333; 
  $fontColor6: #666; 
  $fontColor90: #909090;
  $fontColorEEDED9: #eeded9;
  $fontColor7DA0B4: #7da0b4;
  /*border*/
  $borderE5: 1px solid #e5e5e5;
  /*bgcolor*/
  $bgColorBlack4: rgba(0,0,0,0.4);
  $bgColorWhite: #fff;
  /*width*/
  $w375: 37.5%;
  $w50: 50%;
  $w100: 100%;
  background-color: $bgColorWhite;
  -webkit-tap-highlight-color: transparent;
/*video poster css*/
	.VideoPoster {
		width: $w100;
    .my-video {
      width: $w100;
    }
	}
	/*video description css*/
	.VideoDescription {
		padding: 10px;
    .title {
      padding-bottom: 0.5em;
      font-size: $fontSize14;
      color: $fontColor3;
    }
    .desc-wrap {
      overflow: hidden;
      font-size: $fontSize12;
      color: $fontColor90;
    }
    .toggle-text-btn {
      display: block;
      height: 20px;
      text-align: center;
      .icon {
        display: inline-block;
        width: 15px;
        height: 7px;
        background: url(/images/arrow_icon.png) 0 0;
        background-size: 100px 300px;
      }
      .reversal {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
	}
	/*videocollection css*/
	.VideoCollection {
		padding-bottom: 3px;
		border-top: $borderE5;
		border-bottom: $borderE5;
    .title-wrap {
      padding: 10px;
      .title-text {
        font-size: $fontSize14;
      }
      .title-num {
        font-size: $fontSize10;
        line-height: 24px;
        color: $fontColor90;
        .icon {
          display: inline-block;
          margin-left: 5px;
          width: 6px;
          height: 10px;
          background: url(/images/arrow_icon.png) -33px 1px;
          background-size: 100px 300px;
        }
      }
    }
    .video-list-wrap {
      width: $w100;
      padding-bottom: 0.8em;
      overflow-x: scroll;
      .video-list {
        white-space: nowrap;
        flex-wrap: nowrap;
        .video-list-cell {
          display: inline-block;
          width: $w375;
          margin-left: 10px;
          vertical-align: baseline;
          &:last-child {
            margin-right: 10px;
          }
          .poster {
            width: $w100;
            height: 67px;
            img {
              width: $w100;
              height: 100%;
            } 
          }
          .desc {
            float: left;
            height: 42px;
            padding-top: 0.5em;
            overflow: hidden;
            font-size: $fontSize12;
            white-space: normal;
          }
        }
      }
    }
	}
	.BrowseMoreBtn {
		display: block;
		border-bottom: $borderE5;
		font-size: $fontSize14;
		line-height: 3em;
		color: $fontColor7DA0B4;
		text-align: center;
    .text {
      &:after {
      content: "";
      display: inline-block;
      width: 7px;
      height: 10px;
      margin-left: 0.5em;
      background: url(/images/arrow_icon.png) -56px 0;
      background-size: 100px 300px;
      }
    }
	}
  /*video-list-page*/
  .VideoList {
    position: relative;
    padding: 10px;
    white-space: normal;
    .v-col-page-cell {
      position: relative;
      width: $w50;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      border-bottom: $borderE5;
      &:nth-child(odd) {
        padding-right: 5px;
      }
      &:nth-child(even) {
        padding-left: 5px;
      }
      .poster {
        position: relative;
        width: $w100;
        height: 85px;
        img {
          width: $w100;
          height: 100%;
        }
        .v-attr {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 3px 5px;
          font-size: $fontSize12;
          color: $fontColorEEDED9;
          background-color: $bgColorBlack4;
        }
      }
      .desc {
        height: 3.5em;
        padding-top: .5em;
        overflow: hidden;
        font-size: $fontSize12;
        color: $fontColor6;
      }
    }
  }
}
