.EverydayPage {
  /*聚合图片开始*/
  .wechat-icon {
    background-image: url(../../../assets/images/wechat_icon.png);
    background-repeat: no-repeat;
    background-size: 400px;
    vertical-align: middle;
  }
  /*字体常用颜色*/
  $fontColor7: #777;
  $fontColor9: #999;
  $fontColor3: #333;
  /*字体常用字号*/
  $fontSize11: 11px;
  $fontSize12: 12px;

  .everyday-box {
    padding: 15px;
    border-bottom: 1px solid #ddd;
      .item-title {
      padding-bottom: 10px;
      line-height: 12px;
      font-size: $fontSize12;
      color: $fontColor7;
      }
      .article-icon {
      @extend .wechat-icon;
      display: inline-block;
      width: 14px;
      height: 14px;
      background-position: -76px -93px; 
      }
  }
  
  .EverydayContent {
    .content-img {
      max-height: 180px;
      overflow: hidden;
      position: relative;
    }
    .title {
      font-size: 18px;
      padding-top: 15px;
      color: $fontColor3;
    }
    .desc {
      font-size: $fontSize12;
      color: $fontColor7;
      line-height: 18px;
      padding: 8px 0 10px 0;
    }
  }

  .EveryDayDates {
    font-size: $fontSize11;
    color: $fontColor9; 
    text-align: right;
    line-height: 12px;
      .eye-icon {
        @extend .wechat-icon;
        display: inline-block;
        width: 18px;
        margin-left: 5px;
        height: 12px;      
        background-position: -72px -120px;
    }
  }
  
}