.EverydayPage {
  .everyday-box {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  .item-title {
    line-height: 12px;
    font-size: 11px;
    color: #777;
    padding: 0px 0px 10px 0px;
  }
  .juhe-icon-wenzhang {
    width: 12px;
    height: 12px;
    background-image: url(../../../assets/images/wechat_icon.png);
    background-repeat: no-repeat;
    background-position: -76px -93px;
    background-size: 400px;
    vertical-align: middle;
  }
  .list-contents {
    max-height: 180px;
    overflow: hidden;
    position: relative;
  }
  .contents-title {
    font-size: 18px;
    padding: 15px 0px 0px 0px;
    color: #333;
  }
  .contents-desc {
    font-size: 12px;
    color: #777;
    line-height: 18px;
    padding: 8px 0px 10px 0px;
  }
  .dates {
    font-size: 11px;
    color: #999;
    text-align: right;
    line-height: 12px;
  }
  .juhe-icon-liulan {
    width: 18px;
    margin-left: 5px;
    height: 12px;
    background-image: url(../../../assets/images/wechat_icon.png);
    background-repeat: no-repeat;
    background-position: -72px -120px;
    background-size: 400px;
    vertical-align: middle;
  }
}