@charset "UTF-8";


// switch
//-----------------------------------------------------	
$borderBoxSwitch:                true !default; // true为*{box-sizing:border-box;}


// font相关
//-----------------------------------------------------	
$fontSize:                       16px !default;
$fontLineHeight:                 1.5 !default;
$fontFamily:                     "consolas", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif !default;


// 背景色，文本色，边框色，链接色
//-----------------------------------------------------	
$colorText:                      #333 !default;
$colorBg:                        #fff !default;
$colorBorder:                    #dbdbdb !default;
$colorLink:                      #333 !default; // 如果只有一个值则滑过的值为这个值的darken 5%，如果有两个值则第二个值为滑过的值
$colorPlaceholder:               #999 !default; // input placeholder color
$colorDisabled:                  #999 #e3e3e3 #dbdbdb !default; // textColor bgColor borderColor


// Colors
// -----------------------------------------------------------------------------
$black:                          #000 !default;
$gray3:                          #333 !default;
$gray6:                          #666 !default;
$gray9:                          #999 !default;
$grayC:                          #ccc !default;
$grayD:                          #ddd !default;
$grayE:                          #eee !default;
$grayF:                          #f5f5f5 !default;
$white:                          #fff !default;

$yellow:                         #f8b020 !default; 
$red:                            #ee2b2a !default;
$green:                          #62c3a2 !default;
$greenLight:                     #77cdb0 !default;


// radius
//-----------------------------------------------------	
$radiusBase:                     5px !default;
$radiusSmall:                    3px !default;


// btn
// 默认的按钮大小，颜色，圆角
//-----------------------------------------------------	
$btnSize:                        1em 42px !default; // 默认按钮的左右padding，高度
$btnColor:                       $white $green !default; // 默认按钮的textColor, bgColor
$btnRadius:                      false !default;


// z-index
//-----------------------------------------------------	
$zIndexHeader:                   1000 !default;
$zIndexFooter:                   2000 !default;
$zIndexPopup:                    3000 !default;                     
$zIndexOverlay:                  4000 !default; // 默认高于header和footer部分


// margin
//-----------------------------------------------------	
$baseMargin:                     20px !default;
$basePadding:                    10px !default;


// header,footer等的高度
//-----------------------------------------------------	
$headerHeight:                   40px !default;
$footerHeight:                   50px !default;