html,body {
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin: 0;
}
a {
	color: #333;
	text-decoration: none;
}
.SourceList {
		.clearfix:after {
	    content: "";
	    display: block;
	    clear: both;
	    height: 0;
		}
		.title {
			height: 40px;
			background: #f8f8f8;
			width: 100%;
			line-height: 40px;
			text-align: center;
			font-size: 16px;
			border-bottom: #eee;
		}
		.source-box {
			padding: 10px 25px 10px 25px;
		}
		.box-img {
			position: relative;
		}
		.box-img img {
			width: 100%;
			height: 160px;
			border: 1px solid #ccc;
		}
		.box-circle {
			background-image:url(/images/circle_bg.png);
			width: 60px;
			height: 30px;
			right: 10px;
			top: 10px;
			position: absolute;
			background-size: 100% 100%;
		}
		.box-circle-pic {
			width: 15px;
			height: 15px;
			position: absolute;
			left: 5px;
			top: 5px;
		}
		.box-circle-pic img {
			width: 100%;
			height: 100%;
			border: 0;
		}
		.box-circle-count {
			position: absolute;
			right: 0;
			height: 30px;
			line-height: 30px;
			width: 30px;
			text-align: center;
			font-size: 9px;
		}
		.box-bottom {
			width: 100%;
			margin-top: 15px;
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;
		}
		.box-bottom-left {
			width: 35px;
			height: 35px;
			background-image: url(/images/type_bg.png);
			background-size: 100% 100%;float:left;
		}
		.box-bottom-text {
			font-size: 10px;
			text-align: center;
			width: 35px;
			height: 35px;
			line-height: 35px;
			color: #fff;
		}
		.box-bottom-right {
			float: right;
			width: 85%;
		}
		.box-bottom-title {
			font-size: 16px;
			padding-bottom: 5px;
		}
		.box-bottom-desc {
			font-size: 15px;
			color: #A2A4B0;
			margin-bottom: 5px;
		}
		.bottom {
			height: 30px;			
			margin: 20px auto; 
			width: 90%; 
			text-align: center;
		}
		.line {
			float: left; 
			border: none; 
			border-bottom: 1px solid #cbcbcb; 
			width: 30%; 
			padding-top: 5px;
		}
		.bottom-text {
			float: left; 
			font-size: 15px; 
			width: 40%; 
			color: #cbcbcb;
		}
}