
.ModifyStyle {
  $fontSize18: 18px;
  $fontSize25: 25px;
  /*border*/
  $borderD: 1px solid #ddd;
  $borderE: 1px solid #eee;
  $borderF0: 1px solid #f0f0f0;
  $borderC29364: 1px solid #c29364;
  $borderColorF: #fff;
  $borderColor0: #000;
  /*bgcolor*/
  $bgColorWhite: #fff;
  /*width*/
  $w100: 100%;
  $w50: 50%;
  height: 106px;
  width: 220px;
  position: fixed;
  right: 10px;
  top: 50px;
  border-radius: 5px;
  border: $borderF0;
  z-index: 11002;
  background-color: $bgColorWhite;
  .top-common {
    position: absolute;
    z-index: 11003;
    top: -35px;
    right: 31%;
    content: "";
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    border-color: transparent;
    border-style: outset solid solid;
    border-width: 18px;
  }
  .top-white {
    &:before {
      @extend .top-common;
      border-bottom-color: $borderColorF
    }
  }
  .top-black {
    &:before {
      @extend .top-common;
      border-bottom-color: $borderColor0;
    }
  }
  .top {
    width: $w100;
    height: 39px;
    border-bottom: $borderE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .font-change{
      box-sizing: border-box;
      display:inline-block;
      margin: 0;
      padding: 0;
      width: $w50;
      text-align: center;
    }
    .small {
      @extend .font-change;
      border-right: $borderE;
      font-size: $fontSize18;
    }
    .big {
      @extend .font-change;
      font-size: $fontSize25;
    }
  }
  .bottom {
    width: $w100;
    height: 50px;
    text-align: center;
    .set-color{
      box-sizing: content-box;
      margin-top: 17px;
      display: inline-block;
      height: 30px;
      width: 30px;
      line-height:30px;
      border-radius: 50%;
      border: $borderD;
    }
    .white {
      @extend .set-color;
      border: $borderC29364;
    }
    .black {
      @extend .set-color;
      margin-left: 30%;
    }
  }
}