
.BookType {

  /*font-color*/
  $fontColor3: #333;
  $fontColor7: #777;
  $fontColorF: #fff;
  $fontColor61c3a2: #61c3a2;
  $fontColor7da0b4: #7da0b4;
  
  /*font-size*/
  $fontSize18: 18px;
  $fontSize16: 16px;
  $fontSize14: 14px;
  $fontSize12: 12px;
  $fontSize10: 10px;
  
  /*常用border*/
  $borderColor3: 1px solid #333;
  $borderColorD: 1px solid #ddd;
  $borderColorE4: 1px solid #e4e4e4;
  $borderColor61c3a2: 1px solid #61c3a2;
  $borderColorE: 1px solid #eee;

  /*font-family*/
  $fontFamilyYaHei: 'Microsoft YaHei';
  
  /*bg-color*/
  $backgroundColorF: #fff;
  $backgroundColor61c3a2: #61c3a2;
  $backgroundColor7da1b4: #7da1b4;
  
  /*width*/
  $width25: 25%;
  $width33: 33%;
  $width50: 50%;
  $width100: 100%;
  /*一行*/
  @mixin a-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @mixin float-width($direction,$sizing) {
    float: $direction;
    width: $sizing;
  }

  font-size: $fontSize14;
  line-height: 22px;
  table-layout: fixed;
  color: $fontColor3;
  word-break: break-all;
  font-family: $fontFamilyYaHei;
  background-color: $backgroundColorF;


  .CommonHeader {
    .header {
      border: 0;
    }
  }

  .Tab {
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
    .source-type {
      @include float-width(left,33%);
      height: 39px;
      color: $fontColor3;
      text-align: center;
      line-height: 39px;
    }
    .source-type-over {
      @include float-width(left,33%);
      height: 39px;
      text-align: center;
      line-height: 39px;
      border-bottom: 2px solid #61c3a2;
      color: $fontColor61c3a2;
    }
  }

  .BookListContent {
    padding-bottom: 60px;
    .mobile-book-title {
      border-bottom: $borderColorD;
      padding: 5px 0px 5px 15px;
      color: $fontColor3;
      font-size: $fontSize14;
    }
    .book-list-item {
      padding: 5px 0px 0px 0px;
      .BookListItem {
          @include float-width(left,33%);
          border-bottom: 1px solid #eee;
          margin: 5px 0;
        .book-item {
          padding: 15px;
          border-right: 1px solid #eee;
          margin: 5px 0;
          .book-name {
            width: $width100;
            @include a-line;
            color: $fontColor3;
          }
          .book-price {
             text-align: center; 
             color: #f30; 
             font-size: $fontSize12;
          }
        }
        
      }
    }
  }

  .BookClassify {
    .books-classify {
      padding: 0px 10px 0px 10px;
      background-color: $backgroundColorF;
      .title {
        padding: 10px 0px 10px 10px;
        font-size: $fontSize16;
        border-bottom: $borderColorD;
        color: $fontColor3;
      }
    }
    .books-classify-list {
     padding: 10px 0;
     .classify-box {
        @include float-width(left,50%);
        .classify-book-bg {
          margin: 5px;
          padding: 5px 0 0 10px;
          background-color: #f8f8f8;
          .classify-book-word {
            @include float-width(left,50%);
            .classify-name {
              font-size: $fontSize14;
              color: $fontColor3;
            }
            .classify-nums,.classify-describe {
              font-size: $fontSize10;
              color: $fontColor7;
            }
          }
          .classify-book-img {
             @include float-width(right,50%);
             img {
              width: $width100;
             }
           }
        }
      }
    }
  }
}