.SocialArea {

  $fontSize10: 10px;
  $fontSize12: 12px;
  $fontSize14: 14px;
  $fontSize16: 16px;
  $fontSize20: 20px;
  $fontSize22: 22px;
  /*font-color*/
  $fontColor3: #333;
  $fontColor7: #777;
  $fontColor9: #999;
  /*bg-color*/
  $bgColorF: #fff;
  $bgColor61c3a2: #61c3a2;
  $bgColor62c3a2: #62c3a2;
  $bgColorF0: #f0f0f0;
  $bgColorF8: #f8f8f8;
    /*常用border*/
  $borderC: 1px solid #ccc;
  $borderD: 1px solid #ddd;
  $borderE4: 1px solid #e4e4e4;
  $border61c3a2: 1px solid #61c3a2;
  $borderE: 1px solid #eee;
  /*width*/
  $w25: 25%;
  $w33: 33%;
  $w50: 50%;
  $w100: 100%;
  /*font-family*/
  $fontFamilyYaHei: 'Microsoft YaHei';


	width: $w100;
	height: 100%;
	background-color: $bgColorF8;
	margin: 0;
	a {
		color: $fontColor3;
		text-decoration: none;
	}
  .img-common {
    position: absolute;
    top: 0;
    left: 0;
    width: $w100;
    height: 100%;
  }
	.SocialAreaHome {
		.SocialAreaItem {
			.title {
				text-align: center;
				font-size: $fontSize20;
				padding: 15px 20px 2px 20px;
				background-color: $bgColorF8;
				border-top: $borderD;
			}
			.intra {
				background-color: $bgColorF8;
				text-align: center;
				padding: 0px 20px 10px 20px;
				font-size: $fontSize12;
				color: $fontColor9;
			}
      .topic-pic-container {
        position: relative;
        padding-top: 56%;
        .bg-pic {
          @extend .img-common;
        }
      }
	    .user {
				min-height: 100px;
				padding-bottom: 20px;
				border-bottom: $borderD;
				.user-pic {
					position: absolute;
					z-index: 1;
					text-align: center;
					width: $w100;
					margin-top: -35px;
					img {
						width: 70px;
						height: 70px;
						border-radius: 70px;
				  }
			  }
		    .user-words {
					padding: 45px 20px 0px 20px;
					text-align: center;
					span {
						font-size: $fontSize22;
				  }
			  }
			  .user-time {
					font-size: $fontSize12;
					color: $fontColor9;
					text-align: center;
			  }
		  }
		  .end {
				height: 30px;
				background-color: $bgColorF0;
		  }
		}
	}
}