.OrderList {
  $fontStack: '\5FAE\8F6F\96C5\9ED1',Arial, Helvetica, sans-serif;
  /*fonrsize*/
  $fontSize12: 12px;
  $fontSize14: 14px;
  $fontSize16: 16px;
  /*fontcolor*/
  $fontColor3: #333;
  $fontColor9: #999; 
  $fontColorF30: #f30;
  /*border*/
  $borderDaD: 1px dashed #ddd;
  $borderE: 1px solid #eee;
  /*bgcolor*/
  $bgColorWhite: #fff;
  $bgColorF0: #f0f0f0;
  font-size: $fontSize14;
  line-height: 22px;
  table-layout: fixed;
  word-break: break-all;
  font-family: $fontStack;
 	background-color: $bgColorF0;
  .OrderListHome {
    .OrderBox {
      padding: 0px 10px 10px 10px;
      background-color: $bgColorF0;
      .my-order {
        padding:5px 0px 5px 0px;
      }
      .OrderListContent {
        .order-item {
          margin-bottom: 15px;
          background-color: $bgColorWhite; 
          .order-title {
            height: 36px;
            padding: 0 10px;
            border-bottom: $borderE;
            line-height: 36px;
            .order-status {
              font-size: $fontSize16;
            }
            .order-number {
              font-size: $fontSize12;
            }
          }
          .order-commodity {
            padding:10px 0 10px 0;
            .OrderCommodityItem {
              display: block;
              list-style-type: none;
              border-bottom: $borderDaD;
              &:last-child {
                display: block;
                list-style-type: none;
                border-bottom: 0;
              }
              .commodity-image{
                width: 60px;
                padding: 10px; 
              }
              .commodity-title {
                padding: 10px;
              }
            }
          }
          .order-information {
            padding: 10px 10px 0;
            border-top: $borderE;
            .order-pay {
              color: $fontColor3;
              .pay-money {
                color: $fontColorF30;
              }
            }
            .order-date {
              font-size: $fontSize12;
              color: $fontColor9;
            }
          }
          .order-delete {
            padding: 0 10px 10px 10px;
            text-align: right;
          }
        }
      }
    }
  }
	// .show-price {
	// 		padding-left: 5px;
	// }
}