
.Navigation
.Navigation-link, .Navigation-link_over {
  float: right;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  text-indent: -9999px;
  height: 38px;
  width: 40px;
}
.Navigation-link_over {
  border-bottom: 2px solid rgb(119, 205, 176);
}

.juhe_menu_txt {
  float: left;
  width: 30px;
  height: 38px;
  margin-left: 5px;
  background-repeat: no-repeat;
}
.juhe_menu_meitian {
  background-image: url(../../images/top/wechat_icon.png);
  background-position: -83px -6px;
  background-size: 480px;
}
.Navigation-link_over > .juhe_menu_meitian{
  background-image: url(../../images/top/wechat_icon.png);
  background-position: -83px -45px;
  background-size: 480px;
}
.juhe_menu_shangcheng {
  background-image: url(../../images/top/wechat_icon.png);
  background-position: -230px -6px;
  background-size: 480px;
}
.Navigation-link_over > .juhe_menu_shangcheng {
  background-image: url(../../images/top/wechat_icon.png);
  background-position: -230px -45px;
  background-size: 480px;
}
.juhe_menu_source {
  background-image: url(../../images/top/icon_resources_default.png);
  background-position: 50% 58%;
  background-size: 22px;
}
.Navigation-link_over > .juhe_menu_source {
  background-image: url(../../images/top/icon_resources_select.png);
  background-position: 50% 58%;
  background-size: 22px;
}
.juhe_menu_shucheng {
  background-image: url(../../images/top/icon_book_default.png);
  background-position: 50% 58%;
  background-size: 20px;
}
.Navigation-link_over > .juhe_menu_shucheng {
  background-image: url(../../images/top/icon_book_select.png);
  background-position: 50% 58%;
  background-size: 22px;
}

/*page style css*/
.PageHeader {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 40px;
  padding-right: 5px;
  border-bottom: 1px solid #eee;
}

.header-title {
  padding-left: .5em;
  padding-right: .5em;
  line-height: 40px;
}
.header-btn {
  width: 50px;
  height: 100%;
  text-align: center;
}
.user-menu {
  border-right: 1px solid #eee;
  background: url(../../images/top/wechat_icon.png) no-repeat -5px -1px;
  background-size: 380px;
  width: 40px;
  height: 39px;
  margin-left: 5px;
}
.hd-btn-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.book-store-menu .hd-btn-icon{
  background: url(../../images/top_icon.png) no-repeat 3px -120px;
  background-size: 65px 300px;
}
.book-store-menu-cur {
  border-bottom: 2px solid #77cdb0;
}
.book-store-menu-cur .hd-btn-icon {
  background: url(../../images/top_icon.png) no-repeat 3px -120px;
  background-size: 65px 300px;
}

.good-store-menu .hd-btn-icon{
  background: url(../../images/top_icon.png) no-repeat 3px -66px;
  background-size: 65px 300px;
}
.good-store-menu-cur {
  border-bottom: 2px solid #77cdb0;
}
.good-store-menu-cur .hd-btn-icon {
  background: url(../../images/top_icon.png) no-repeat 3px -66px;
  background-size: 65px 300px;
}
