@charset "UTF-8";

@import "../../../assets/sass/variables";
@import "../../../assets/sass/font";

/*page style css*/
.PageHeader {
  /*fontsize*/
  $fontSize16: 16px;
  /*border*/
  $borderE: 1px solid #eee;
  $border277CDB0: 2px solid #77cdb0;
  /*width*/
  $w100: 100%;
  .link-common {
    float: right;
    text-decoration: none;
    font-size: $fontSize16;
    text-align: center;
    text-indent: -9999px;
    height: 38px;
    width: 40px;
  }
  @mixin top-icon-set($iconUrl,$xPos,$yPos,$xSize,$ySize) {
    background: url($iconUrl) no-repeat $xPos $yPos;
    background-size: $xSize $ySize;
  }
  position: fixed;
  z-index: 10000;
  width: $w100;
  height: 40px;
  padding-right: 5px;
  border-bottom: $borderE;
  .header-btn {
    width: 50px;
    height: 100%;
    text-align: center;
  }
  .user-menu {
    width: 40px;
    height: 39px;
    margin-left: 5px;
    border-right: $borderE;
    @include top-icon-set("../../../assets/images/top/wechat_icon.png",-5px,-1px,380px,auto);
  }
  .header-title {
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 40px;
    @include dy-font-face('FZLTXH_GBK');
  }
  .Navigation {
    .juhe_menu_txt {
      width: 30px;
      height: 38px;
      margin-left: 5px;
    }
    .Navigation-link_over {
      @extend .link-common;
      border-bottom: $border277CDB0;
      .juhe_menu_meitian{
        @include top-icon-set("../../../assets/images/top/wechat_icon.png",-83px,-45px,480px,auto);
      }
      .juhe_menu_shangcheng {
        @include top-icon-set("../../../assets/images/top/wechat_icon.png",-230px,-45px,480px,auto);
      }
      .juhe_menu_source {
        @include top-icon-set("../../../assets/images/top/icon_resources_select.png",50%,58%,22px,auto);
      }
      .juhe_menu_shucheng {
        @include top-icon-set("../../../assets/images/top/icon_book_select.png",50%,58%,22px,auto);
      }
    }
    .Navigation-link {
      @extend .link-common;
      .juhe_menu_meitian {
        @include top-icon-set("../../../assets/images/top/wechat_icon.png",-83px,-6px,480px,auto);
      }
      .juhe_menu_shangcheng {
        @include top-icon-set("../../../assets/images/top/wechat_icon.png",-230px,-6px,480px,auto);
      }
      .juhe_menu_source {
        @include top-icon-set("../../../assets/images/top/icon_resources_default.png",50%,58%,22px,auto);
      }
      .juhe_menu_shucheng {
        @include top-icon-set("../../../assets/images/top/icon_book_default.png",50%,58%,20px,auto);
      }
    }
  }
}