.BookList {
  $fontStack: '\5FAE\8F6F\96C5\9ED1',Arial, Helvetica, sans-serif;
  $fontSize12: 12px;
  $fontSize14: 14px;
  $fontSize16: 16px;
  /*font-color*/
  $fontColor3: #333;
  $fontColor5: #555;
  $fontColorC: #ccc;
  $fontColorF: #fff;
  $fontColor62c3a2: #62c3a2;
  /*border*/
  $borderD: 1px solid #ddd;
  $borderE6: 1px solid #e6e6e6;
  /*bgcolor*/
  $backgroundColorF: #fff;
  $backgroundColorF5f5f8: #f5f5f8;
  /*width*/
  $w20: 20%;
  $w25: 25%;
  $w50: 50%;
  $w80: 80%;
  $w100: 100%;
  /*一行*/
  @mixin a-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu-item-common  {
    width: $w100;
    height: 60px;
    padding-top: 10px;
    border-bottom: $borderE6;
    text-align: center;
  }
  .img-common {
    position: absolute;
    top: 0;
    left: 0;
    width: $w100;
    height: 100%;
  }
  font-size: $fontSize14;
  line-height: 22px;
  table-layout: fixed;
  word-break: break-all;
  font-family: $fontStack;
  .Tab {
    position: fixed;
    top: 40px;
    left: 0;
    width: $w20;
    height: 100%;
    overflow: hidden;
    background-color: $backgroundColorF5f5f8;
    white-space: nowrap;
    .menu-item {
      @extend .menu-item-common;
      border-right: $borderE6;
      color: $fontColor5;
      text-align: center;
    }
    .menu-item-on {
      @extend .menu-item-common;
      background-color: $backgroundColorF;
      padding-top: 10px;
      color: $fontColor62c3a2;
    }
    .menu-item ,.menu-item-on {
      .tab-item-pic {
        display: block;
        height: 22px;
        width: 22px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
      .tab-title {
        display: inline-block;
        line-height: 16px;
        font-size: $fontSize12;
      }
    }
  }

  .BookListRight {
    width: $w80;
    height: 100%;
    position: relative;
    background-color: $backgroundColorF;
    .top {
      width: $w80;
      margin: 0 10%;
      position: relative;
      height: 30px;
      .header-line {
        position: absolute;
        z-index: 10001;
        left: 0;
        top: 10px;
        width: 100%;
        height: 1px;
        border-bottom: $borderD;
      }
      .header-title {
        position: relative;
        z-index: 10002;
        width: $w25;
        margin: 15px auto 0;
        text-align: center;
        font-size: $fontSize12;
        line-height: 20px; 
        color: $fontColorC;
        background-color: $backgroundColorF;
      }
    }
    .BookListItem {
      width: $w50;
      float: left;
      height: 220px;
      padding-left: 10%;
      background-color: $backgroundColorF;
      .book-img-container{
        position: relative;
        padding-top: 142.8572%;/*140*200*/
        margin: 5px auto;
        .book-img {
          @extend .img-common;
        }
      }
      .book-title {
        display: block;
        text-align: left;
        font-size: $fontSize16;
        @include a-line;
      }
      .book-price {
        color: $fontColor62c3a2;
        font-size: $fontSize16;
        &:before {
          content:"￥";
        }
      }
    }
  }
}