.BookItem {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 220px;
  padding-left: 10%;
  background-color: #fff;
}

.book-img {
  width: 80%;
  margin: 10px auto;
}

.book-title {
  display: block;
  text-align: left;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-price {
  color: #62c3a2;
  font-size: 16px;
}
.book-price::before {
  content: "￥"
}