.IntegrationTitle {
  .title {
    height: 40px;
    border-bottom: 1px solid #ddd;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
  }
}

.UserIntegration {
  background-color: #fff;
  font: 14px '微软雅黑', Arial, Helvetica, sans-serif;
  .now-integration-container {
    background-color: #62c3a2;
    color: #fff;
  }
  .now-integration-title,
  .now-integration,
  .info-top-title,
  .info-bottom-content {
    text-align: center;
    line-height: 22px;
  }
  .now-integration-title {
    padding: 20px 0 0;
  }
  .now-integration {
    padding: 20px 0 30px 0;
    font-size: 38px;
  }
  .integration-info {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #eee;
  }
  .used-integration-container,
  .total-integration-container {
    display: inline-block;
    width: 50%;
  }
  .used-integration-container {
    border-right: 1px solid #eee;
  }
  .info-top-title {
    color: #777;
    font-size: 12px;
  }
}

.IntegrationConsumeList {
  .record-container {
    padding: 10px;
  }
  .record-title {
    padding: 10px 0 8px;
  }
  .integration-record-list {
    width: 100%;
  }
  .integration-record-list tr {
    border-bottom: 1px solid #ddd;
  }
  .integration-record-list tr:first-child {
    border-top: 1px solid #ddd;
    background-color: #f8f8f8;
  }
  .integration-record-list td {
    text-align: center;
    line-height: 35px;
    font-size: 12px;
  }
  .integration-record-list tr:first-child td {
    font-size: 14px;
  }
}

.TotalIntegrationList {
  .total-integration-wrapper {
    padding: 10px;
  }
  .total-integration-item {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    line-height: 24px;
  }
  .item-top-info span:first-child {
    float: left;
    color: #f30;
  }
  .item-top-info span:last-child,
  .item-bottom-info {
    color: #777;
    font-size: 12px;
  }
  .item-top-info span:last-child {
    float: right;
  }
}