.ArticleHeader {
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
  .article-top {
    display: none;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    height: 43px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    z-index: 10001;
  }
  .article-wrap {
    height: 43px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
    display: block;
    background-color: rgb(255, 255, 255);
  }
  .article-return {
    float: left;
    width: 40px;
    text-align: center;
    text-align: center;
    height: 100%;
  }
  .articleIcon-continue {
    height: 25px;
    width: 50px;
    position: relative;
    top: 10px;
    left: 5px;
  }
  .articleIcon-font {
    float: right;
    width: 21px;
    height: 21px;
    margin: 10px 8px;

  }
  .articleIcon-return {
    width: 22px;
    height: 19px;
    position: relative;
    top: 12px;
  }
  .articleIcon-link {
    float: right;
    width: 40px;
    text-align: center;
    height: 100%;
    padding: 0;
  }
  .articleIconBack {
    margin-left: 5px;
    padding: 7px 0;
  }
  .articleIconBack img {
    height: 25px;
    width: 50px;
    position: relative;
    top: 3px;
  }
  .articleIcon {
    padding: 7px;
    display: inline-block;
  }
  .articleIconImg {
    float: right;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-top: 2px;
  }
  .articleIconLink {
    float: right;
  }
  .articleIcon-discuss {
    width: 24px;
    height: 22px;
    position: relative;
    top: 3px;
  }
  .catalogMenu {
    float: right;
    width: 40px;
    height: 100%;
    text-align: center;
    padding: 0;
  }
  .articleIcon-menu {
    width: 23px;
    height: 25px;
    position: relative;
    top: 9px;
  }
}