.BookRead {
  background-color: #f8f8f8;
  /*bg-color*/
  $backgroundColorF: #fff;
  $borderColorD: 1px solid #ddd;
    /*font-family*/
  $fontFamilyYaHei: 'Microsoft YaHei';
  $fontFamilyFZLTXHJW: 'FZLTXHJW';
  $fontFamilyFZSSJW: 'FZSSJW';

   @mixin a-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

   @mixin fontcolor-bgcolor($color,$bgColor) {
    color: $color;
    background-color: $bgColor;
  }

  .forColor {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .pageTitleShow {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 40px;
    @include a-line;
    padding: 0 0 0 20px;
    font-size: 12px;
    color: #777;
    background-color: $backgroundColorF;
  }
  .text_bg {
    position: fixed;
    z-index: 11000;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 40px;
    padding: 0 40px 0 40px;
    background-size: 100% auto;
    background-color: $backgroundColorF;
    overflow: hidden;
    .duoyue_read {
      overflow: hidden;
      word-break: normal;
      word-wrap: break-word;
      text-align: justify;
    }
    .font-size-0 {
      font-size: 16px;
    }
   .font-size-1 {
      font-size: 20px;
    }
    .font-size-2 {
      font-size: 24px;
    }
    .opationCanvas {
      position: fixed;
      width: 100%;
      top: 40px;
      left: 0;
      bottom: 50px;
      z-index: 11003;
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      opacity: 0;
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 10010;
    box-sizing: border-box;
    background-color: $backgroundColorF;
    padding: 0 3%;
    border-top: $borderColorD;
    .controll-box {
      width: 94%;
      margin-top: 20px;
      .progress-num {
        text-align: center;
      }
    }
  }
  .FZSSJW {
    font-family: $fontFamilyFZSSJW;
  }
  .FZLTXHJW {
    font-family: $fontFamilyFZLTXHJW;
  }
  .YaHei {
    font-family: $fontFamilyYaHei;
  }
  .yellow {
    @include fontcolor-bgcolor(#333 !important,#f6f0e1 !important);
  }
  .white {
    @include fontcolor-bgcolor(#333 !important,#fff !important);
  }
  .black {
    @include fontcolor-bgcolor(#ddd !important,#141414 !important);
  }
  .green {
    @include fontcolor-bgcolor(#333 !important,#c5edcc !important);
  }
}