.FontBox {
  /*borderColor*/
  $borderColorE5: 1px solid #e5e5e5;
  $backgroundColorF: #fff;

	.articleStyle {
    position: absolute;
    z-index: 700;
    height: 150px;
    width: 240px;
    border: $borderColorE5;
    border-radius: 5px;
    top: 55px;
    right: 5px;
    background-color: $backgroundColorF;
    .tu {
      position: absolute;
      z-index: 1200;
      height: 15px;
      width: 36px;
      background-image: url("../../../assets/images/ArticleImages/wenzhang_tu.png");
      background-repeat: no-repeat;
      background-size: cover;
      right: -5px;
      top: -14px;
    }
    .articleStyleTitle {
      height: 29%;
      width: 100%;
      border-bottom: $borderColorE5;
      .articleTitlePic {
        float: left;
        height: 17px;
        width: 44px;
        margin: 17px 10px 0 10px;
        .return{
          height:17px; 
          width: 44px;
        }
      }
      .articleTitleContent {
        margin-left: 45%;
        font-size: 16px;
        line-height: 50px;
      }
    }
    .articleStyleFont {
      height: 22%;
      width: 100%;
      .articleFontPic {
        display: none;
        position: absolute;
        left: 0;
        height: 17px;
        width: 17px;
        margin: 10px 0px 10px 10px;
      }
      .articleFontContent {
        width: 87%;
        padding-left: 5px;
        float: right;
        font-size: 14px;
        margin-left: 5%;
        padding: 6.5px 10px;
        border-bottom: $borderColorE5;
      }
    }
	}
}