.StyleBox{
	.checkstyle {
    height: 150px;
    width: 240px;
    position: fixed;
    right: 5px;
    top: 55px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    z-index: 400;
/*    display: none;*/
	}
	.tu {
	    position: absolute;
	    z-index: 1200;
	    height: 15px;
	    width: 36px;
	    background-image: url("../../../assets/images/ArticleImages/wenzhang_tu.png");
	    background-repeat: no-repeat;
	    background-size: cover;
	    right: -5px;
	    top: -14px;
		}
  .top {
  	border-bottom: 1px solid #ddd;
	}	
  .small {
    border-right: 1px solid #ddd;
    font-size: 15px;
	}
  .small, .big {
    display: inline-block;
    width: 48%;
    font-size: 15px;
    height: 35%;
    line-height: 60px;
    text-align: center;
	}
  .big {
    font-size: 25px;
	}
  .middle {
    height: 25%;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
	}
	.middleFont {
    line-height: 40px;
    padding-left: 10px;
	}
	.chooseFont {
    float: right;
    color: #888;
    line-height: 40px;
    padding-right: 10px;
	}
  .bottom {
    padding-top: 7px;
    margin-bottom: 17px;
	}
	.fontStyleItem {
		display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    line-height: 30px;
    margin-left: 20px;
    color: #1e1e1e;
    text-align: center;
	}
	.white {
    border: 1px solid #ccc;
    background-color: #fbfbfb;
	}
	.yellow {
    border: 1px solid #f6f0e1;
    background-color: #f6f0e1;
	}
	.green {
    border: 1px solid #c7edcc;
    background-color: #c7edcc;
	}
	.black {
    border: 1px solid #1e1e1e;
    background-color: #1e1e1e; 
    color: #fff;   
	}
}