.NewBookList {
  $fontSize12: 12px;
  $fontSize13: 13px;
  $fontColor3: #333;
  $fontColor61c3a2: #61c3a2;
  $bgColorWhite: #fff;
  $w33: 33.33%;
  $w70: 70%;
  $w100: 100%;
  .img-common {
    position: absolute;
    top: 0;
    left: 0;
    width: $w100;
    height: 100%;
  }
  background-color: $bgColorWhite;
  .book-list-title{
    color: $fontColor61c3a2;
    font-size: $fontSize13; 
    padding-top: 20px;
    text-align: center;
  }
  .books {
    .book-list-title {
      width: $w100;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: $fontColor61c3a2;
    }
    .BookItem {
      display: inline-block;
      box-sizing: border-box;
      width: $w33;
      padding: 5%;
      font-size: $fontSize12;
      text-align: center;
      color: $fontColor61c3a2;
      margin-bottom: 20px;
      .bookitem-wrap {
        width: $w70;
        margin: 5px auto;
        .news-img-container {
          position: relative;
          padding-top: 142.8572%;/*140*200*/
          img {
            @extend .img-common;
          }
        }
      }
      .book-title {
        display: block;
        height: 3em;
        color: $fontColor3;
        overflow: hidden;
      }
      .book-price {
        display: block;
        color: $fontColor61c3a2;
        &:before {
          content: "￥"
        }
      }
    }
  }
}