
.BookType {
    font-size: 14px;
    line-height: 22px;
    table-layout: fixed;
    color: #333;
    word-break: break-all;
    font-family: '微软雅黑',Arial, Helvetica, sans-serif;
    background-color:#fff;

 
	/* header staer */
	.back-search-header {
		position:fixed; 
		left: 0; 
		top: 0; 
		z-index: 1000;
		width: 100%;
		background-color: #fff;
		height: 39px;
	} 
	.back-search-header .back {
	    float: left;
	    width: 40px;
	    margin-left: 5px;
	    padding:8px 0;
	    text-align: center;

	}
	.back-search-header .search {
		float: right;
		margin-top: 8px;
		margin-right: 15px;
		width: 50px;
		text-align: right;
	}
	.back-search-header .back img {
		width:28px; 
		height:23px; 
		background-size:28px 23px;
	}
	.back-search-header .search img {
		width:22px;
	}

	/*booktype*/
  .BookListType {
    border-bottom: 1px solid #eee;
    z-index: 1000;
    background-color: #f5f5f5;
  }

   .source-classify {
    border-bottom: 1px solid #eee;
    font-size: 14px;
  }

  .source-type {
    float: left;
    height: 39px;
    color: #333;
    width: 33.3%;
    text-align: center;
    line-height: 39px;
  }
  .source-type-over {
    float: left;
    width: 33.3%;
    height: 39px;
    text-align: center;
    line-height: 39px;
    border-bottom: 2px solid #62c3a2;
    color: #62c3a2;
  }

  /*bookscontent*/
  .BookListContent {
    padding-bottom: 60px;
  }
  .mobile-book-title {
    border-bottom: 1px solid #ddd;
    padding: 5px 0px 5px 15px;
    color: #000;
    font-size: 14px;
  }
  .book-list-item {
  	padding: 5px 0px 0px 0px;

  }
  .book-item {
  	float: left; 
  	width: 33.3%;
  	border-bottom: 1px solid #eee;
  	margin: 5px 0;
  }
  .item-content {
  	border-right: 1px solid #eee; 
  	padding: 15px;
  }
  .book-item .book-name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;

  }
  .book-item .book-price {
  	 text-align: center; 
  	 color: #f30; 
  	 font-size: 12px;
  }

  /*bookclassfiy*/
  .books-classify {
    padding: 0px 10px 0px 10px;
    background-color: #fff;
  }
  .books-classify .title{
    padding: 10px 0px 10px 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    color: #333;
 }
 .books-classify-list {
 	 padding: 10px 0;
 }
 .classify-box {
 	float: left;
 	width: 50%;

 }
 .classify-book-bg {
 	margin: 5px;
 	padding: 5px 0 0 10px;
 	background-color: #f8f8f8;
 }
 .classify-book-word {
 	float: left;
 	max-width: 50%;
 }
 .classify-book-img {
 	 float: right;
 	 width: 50%;
   height: 100%;
 }
  .classify-book-img img{
 	  width: 100%;
 	  height: 100%;
 }
 .classify-name {
 		font-size: 14px;
 		color: #333;
 }
 .classify-nums {
 		font-size: 10px;
 		color: #777;
 }
 .classify-describe {
 		font-size: 10px;
 		color: #777;
 }

}