.ScrollPage {
  $fontColorF: #fff;
  $bgColorF2: #f2f2f2;
  .EveryDayPageNum{
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
    padding: 0 7px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: $fontColorF;
  }
  .EveryDayScrollBottom{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: $bgColorF2;
  }
}