
.BookDetail {

  /*font-color*/
  $fontColor3: #333;
  $fontColor7: #777;
  $fontColorF: #fff;
  $fontColor61c3a2: #61c3a2;
  $fontColor7da0b4: #7da0b4;
  
  /*font-size*/
  $fontSize18: 18px;
  $fontSize16: 16px;
  $fontSize14: 14px;
  $fontSize12: 12px;
  
  /*常用border*/
  $borderColor3: 1px solid #333;
  $borderColorD: 1px solid #ddd;
  $borderColorE4: 1px solid #e4e4e4;
  $borderColor61c3a2: 1px solid #61c3a2;
  $borderColor561c3a2: 5px solid #61c3a2;
  $borderColorE: 1px solid #eee;

  /*font-family*/
  $fontFamilySHS: 'SourceHanSansCN-Normal';
  
  /*bg-color*/
  $backgroundColorF: #fff;
  $backgroundColorF8: #f8f8f8;
  $backgroundColorFA: #fafafa;
  $backgroundColor61c3a2: #61c3a2;
  $backgroundColor7da1b4: #7da1b4;
  
  /*width*/
  $w25: 25%;
  $w33: 33%;
  $w42: 42%;
  $w50: 50%;
  $w100: 100%;
  /*一行*/
  @mixin a-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

 @mixin book-icon {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  /*购买和客服*/
  @mixin buy-consult-icon {
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /*控制多行...*/
  @mixin n-line($n) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $n;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  .img-common {
    position: absolute;
    top: 0;
    left: 0;
    width: $w100;
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  .blank40 {
    height: 40px;
  }
  .BookInfo {
    .book-cover {
      padding: 25px;
      text-align: center;
      width: $w42;
      margin: 0 auto;
      box-sizing: content-box;
      .book-cover-container {
        position: relative;
        padding-top: 142.8752%;
        img {
          @extend .img-common;
        }
      }
    }
    .book-info {
      padding: 10px 0;
      border-top: $borderColorE;
      border-bottom: $borderColorE;
      background-color: $backgroundColorFA;
      .book-title {
        padding: 30px 20px 5px 30px;
        text-align: center;
        font-size: $fontSize18;
      }
      .sell-price {
        text-align: center;
        color:  $fontColor61c3a2;
        font-size: $fontSize18;
      }
      .button-area {
        box-sizing: border-box;
        padding: 20px 100px;
        .book-buy,.book-consult {
          display: inline-block;
          width: $w50;
          .icon-box-title {
            padding: 5px 0px;
            text-align: center;
            color: $fontColor7;
          }
          .book-buy-icon {
            width: 25px;
            height: 25px;
            display: block;
            margin: auto;
            background: url(/images/icon_buy.png);
            @include buy-consult-icon;
          }
          .book-consult-icon {
            width: 25px;
            height: 25px;
            display: block;
            margin: auto;
            background: url(/images/server.png);
            @include buy-consult-icon;
          }
        }
      }
      .book-desc {
        padding: 10px 30px;
        .list-box {
          padding: 30px 0px 10px 0px;
          border-top: $borderColorE;
          &:nth-last-child(2) {
            border-bottom: $borderColorE;
          }
          .book-desc-title {
            display: inline-block;
            width: $w100;
            padding: 0 0 10px 0;
            font-size: $fontSize14;
            text-align: center;
          }
          .book-desc-content {
            line-height: 18px;
            font-size: $fontSize12;
            color: $fontColor7;
          }
          .book-read-btn {
            display: block;
            width: 160px;
            margin: auto;
            padding: 8px 0 8px 0;
            border: $borderColor61c3a2;
            border-radius: 25px;
            color:  $fontColor61c3a2;
            text-align: center;
            margin-top: 5px;
          }
          .list-icon {
            background: url(/images/shuoming.png);
            @include book-icon;
          }
          .detail-icon {
            background: url(/images/xiangqing.png);
            @include book-icon;
          }
          .pub-icon {
            background: url(/images/chuban.png);
            @include book-icon;
          }
          .book-list-title {
            display: inline-block;
            width: $w100;
            padding: 10px 0;
            text-align: center;
            font-size: $fontSize14;
            color: $fontColor7;
          }
          .list-single-title {
            color: $fontColor7;
            height: 30px;
            line-height: 30px;
            width: $w100;
            @include a-line;
          }
          .book-detail-content {
            padding: 10px 0px;
            .pub-title {
              color: $fontColor7;
              line-height: 18px;
              font-size: $fontSize12;
            }
          }
        }
        .book-buy-btn {
          width: 200px;
          margin: 20px auto 10px auto;
          padding: 12px 0px;
          border-top: $borderColorE;
          background-color:  $backgroundColor61c3a2;
          border-radius: 25px;
          text-align: center;
          font-size: $fontSize16;
          color: $fontColorF;
        }
      }
    }
  }
  .RecList {
    padding: 20px;
    border-bottom: $borderColorE;
    .rec-title {
    font-size: $fontSize14;
    padding-bottom: 10px;
    text-align: center;
    }
    .RecItem {
      box-sizing: border-box;
      width: $w33;
      padding: 5px;
      display: inline-block;
      vertical-align: top;
      .rec-item-pic {
        padding: 20px 25px 0 25px;
        .item-pic-container {
          position: relative;
          padding-top: 142.8752%;
          img {
            @extend .img-common;
          }  
        }
      }
      .rec-item-title {
        @include n-line(2);
        padding: 10px 5px 0 5px;
        text-align: center;
        line-height: 18px;
        color: $fontColor3;
        font-size: 13px;
      }
      .rec-price {
        text-align: center;
        color:  $fontColor61c3a2;
        font-size: $fontSize12;
      }
    }
  }
  .bottom-blank {
    height: 10px;
    background-color: $backgroundColorF8;
  }
  .ToDanpin {
    padding: 10px 20px;
    border-top: $borderColorE;
    color:  $fontColor3;
    .bottom-link-box {
      width: $w100;
      .bottom-link-title {
        display: inline-block;
        height: 29px;
        padding-left: 10px;
        line-height: 29px;
        border-left: $borderColor561c3a2;
        font-size: $fontSize16;
        vertical-align: top;
      }
      .bottom-link-icon {
        float: right;
        display: inline-block;
        width: 29px;
        height: 29px;
        background: url(/images/arrow_info.png) center no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }
}
