
.CommonHeader .header{
  z-index: 11002 !important;
}

.ModifyStyle {
  height: 106px;
  width: 220px;
  position: fixed;
  right: 10px;
  top: 50px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  z-index: 11002;
  background-color: #fff;
  .tu {
    position: absolute;
    right: 73px;
    top: -12px;

  }
  .top-white::before {
    position: absolute;
    z-index: 11003;
    content: "";
    right: 0;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    border-color: transparent;
    border-style: outset solid solid;
  }
  .top-white::before {
    border-width: 18px;
    top: -35px;
    right: 31%;
    border-bottom-color: #fff;
  }
  .top-black::before {
    position: absolute;
    z-index: 11003;
    content: "";
    right: 0;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    border-color: transparent;
    border-style: outset solid solid;
  }
  .top-black::before {
    border-width: 18px;
    top: -35px;
    right: 31%;
    border-bottom-color: black;
  }
  .top {
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .big ,
    .small {
      box-sizing: border-box;
      display:inline-block;
      margin: 0;
      padding: 0;
      width: 50%;
      text-align: center;
    }
    .small {
      border-right: 1px solid #eee;
      font-size: 18px;
    }
    .big {
      font-size: 25px;
    }
  }


  .bottom {
    width: 100%;
    height: 50px;
    text-align: center;
    .white ,
    .black {
      box-sizing: content-box;
      margin-top: 17px;
      display: inline-block;
      height: 30px;
      width: 30px;
      line-height:30px;
      border-radius: 50%;
      border: 1px solid #ddd;
    }
    .white {
      border: 1px solid rgb(194, 147, 100)
    }
    .black {
      margin-left: 30%;
    }
  }
}