
.OrderDisplay {
  
  $fontStack: '\5FAE\8F6F\96C5\9ED1',Arial, Helvetica, sans-serif;
  /*fonrsize*/
  $fontSize12: 12px;
  $fontSize14: 14px;
  $fontSize16: 16px;
  $fontSize18: 18px;
  /*fontcolor*/
  $fontColor3: #333;
  $fontColor7: #777; 
  $fontColorF: #fff;
  $fontColorF30: #f30;
  $fontColorF60: #f60;
  /*border*/
  $borderD: 1px solid #ddd;
  $borderE: 1px solid #eee;
  $borderDaD: 1px dashed #ddd;
  $border2DD: 2px dashed #ddd;
  /*bgcolor*/
  $bgColorWhite: #fff;
  $bgColorF0: #f0f0f0;
  /*width*/
  $w25: 25%;
  $w50: 50%;
  $w75: 75%;
  $w100: 100%;
  
  background-color: $bgColorF0;
  font-size: $fontSize14;
  line-height: 22px;
  table-layout: fixed;
  word-break: break-all;
  font-family: $fontStack;
	.display-title {
		width: $w100; 
    border-bottom: $borderD; 
    height: 40px;
    font-size: $fontSize16;
    line-height: 40px;
    text-align: center;
	}
  .OrderStatus {
    .status-box {
      background-color: $bgColorWhite; 
      padding: 10px;
      .pay-status-number {
        border-bottom: $borderD; 
        .pay-status {
          padding: 5px 0 10px 0; 
          font-size: $fontSize16; 
          color: $fontColorF30;
        }
        .order-number {
          padding-bottom: 10px;
        }
        .pay-way {
          width: 80px;
          margin-top: 12px;
          padding: 5px 10px 5px 10px;
          background-color: $fontColorF60; 
          text-align: center; 
          color: $fontColorF;
        }
      }
      .thank-point {
        padding-top: 5px; 
        color: $fontColor7;
      }
    }
  }
  .BuyerInformation {
    .buyer-box {
      padding: 10px;
      margin-top: 15px; 
      border-top: $border2DD; 
      border-bottom: $border2DD; 
      background-color: $bgColorWhite; 
      .receiver{
        display: inline-block;
        width: $w25;
        text-align: left;
      }
      .phone-number{
        display: inline-block;
        width: $w75;
        text-align: right;
      }
    }
  }
  .CommodityList {
    .list-box {
      margin-top: 15px; 
      background-color: $bgColorWhite;
      padding: 10px;
      .title {
        padding-bottom: 5px;
        background-color: $bgColorWhite; 
        font-size: $fontSize16;
      }
      .order-commodity {
        padding:10px 0;
        li {
          display: block;
          list-style-type: none;
          border-top: $borderD;
          &:last-child {
            display: block;
            list-style-type: none;
            border-bottom: 0;
          }
          .commodity-image{
            width: 60px;
            padding: 10px 10px 0 10px; 
          }
          .commodity-title {
            padding: 10px;
          }
        }
      }
    }
  }
  .PriceInformation {
    .price-box {
      padding: 10px 10px 20px 10px;
      margin-top: 15px; 
      background-color: $bgColorWhite;
      div {
        height: 28px;
        width: $w100;
      }
      .text-right {
        display: inline-block;
        width: $w50;
        text-align: right;
        color: $fontColorF30; 
      }
      .text-left {
        display: inline-block;
        width: $w50;
        text-align: left;
        color: $fontColor3; 
      }
      .actual { 
        border-top: $borderE; 
        padding: 10px 0; 
        text-align: right; 
        font-size: $fontSize18;
        .actual-pay {
          color: $fontColorF30; 
        }
      }
    }
  }  
}