body {
  background-color: #f0f0f0;
  font-size: 14px;
  line-height: 22px;
  table-layout: fixed;
  word-break: break-all;
  font-family: '微软雅黑',Arial, Helvetica, sans-serif;
}
.OrderDisplay {
	.display-title {
		width: 100%; 
    border-bottom: 1px solid #ddd; 
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
	}

	/*order-status*/
	.status-box {
		background-color: #fff; 
		padding: 10px;
	}
	.pay-status-number {
		border-bottom: 1px solid #ddd; 
	}
	.pay-status {
		padding:5px 0 10px 0; 
		font-size: 16px; 
		color: #f30;
	}
	.order-number {
		padding-bottom: 10px;
	}
	.pay-way {
		width: 80px;
		margin-top: 12px;
		padding: 5px 10px 5px 10px;
		background-color: #f60; 
		text-align: center; 
		color: #fff;
	}
	.thank-point {
		padding-top: 5px; 
		color: #777;
	}

	/*product listing*/
	.list-box {
		margin-top: 15px; 
		background-color: #fff;
		padding: 10px;
	}
	.list-box .title {
		padding: 0 0 5px 0;
		background-color: #fff; 
		font-size: 16px;
	}
	.order-commodity {
		padding:10px 0 10px 0;
	}
	.order-commodity li {
		display: block;
		list-style-type: none;
		border-top:1px solid #ddd;
	}
	.order-commodity li:last-child {
		display: block;
		list-style-type: none;
		border-bottom: 0;
	}
	.order-commodity .commodity-image{
		float: left;
		width: 60px;
		padding: 10px 10px 0 10px; 
	}
	.commodity-title {
		float: left;
		padding: 10px;
	}

	/*buyer-information*/
	.buyer-box {
		padding: 10px;
		margin-top: 15px; 
		border-top: 2px dashed #ddd; 
		border-bottom: 2px dashed #ddd; 
		background-color: #fff; 
	}

	.buyer-box .receiver{
		display: inline-block;
		width:25%;
		text-align: left;
	}
	.buyer-box .phone-number{
		display: inline-block;
		width:75%;
		text-align: right;
	}

	/* price-infomation*/
  .price-box {
  	padding: 10px;
  	margin-top: 15px; 
  	background-color: #fff;
  }
  .price-box .actual { 
  	 border-top: 1px solid #eee; 
  	 padding: 10px 0 10px 0; 
  	 text-align: right; 
  	 font-size: 18px;
  }
  .price-box div {
  	height: 28px;
  	width: 100%;
  }
  .text-right {
  	display: inline-block;
  	width: 50%;
  	text-align: right;
  	color: #f30; 
  }
  .text-left {
  	display: inline-block;
  	width: 50%;
  	text-align: left;
  	color: #333; 
  }
  .actual-pay {
  	color: #f30; 
  	font-size: 18px;
  }
}