.UserIntegration{
  /*font-family*/
  $fontFamilyYaHei: 'Microsoft YaHei';
  /*fontsize*/
  $fontSize16: 16px;
  $fontSize14: 14px;
  $fontSize12: 12px;
  $fontSize10: 10px;
  /*font-color*/
  $fontColor3: #333;
  $fontColor7: #777;
  $fontColorF: #fff;
  $fontColorF30: #f30;
  /*bg-color*/
  $backgroundColorF: #fff;
  $backgroundColorF8: #f8f8f8;
  $backgroundColor61c3a2: #61c3a2;
  $backgroundColor62c3a2: #62c3a2;
  $backgroundColorF0: #f0f0f0;
    /*常用border*/
  $borderColorC: 1px solid #ccc;
  $borderColorD: 1px solid #ddd;
  $borderColorE4: 1px solid #e4e4e4;
  $borderColor61c3a2: 1px solid #61c3a2;
  $borderColorE: 1px solid #eee;
  /*width*/
  $width25: 25%;
  $width33: 33%;
  $width50: 50%;
  $width100: 100%;
  .centent22 {
    text-align: center;
    line-height: 22px;
  }
  @mixin inblock-width($width) {
    display: inline-block;
    width: $width;
  }
  .font12-color7 {
    font-size: $fontSize12;
    color: $fontColor7;
  }
  .UserIntegrationHome {
    background-color: $backgroundColorF;
    font: $fontSize14 $fontFamilyYaHei;
    .IntegrationTitle {
      .title {
        height: 40px;
        border-bottom: $borderColorD;
        background-color: $backgroundColorF0;
        text-align: center;
        line-height: 40px;
        font-size: $fontSize16;
      }
    }
    .now-integration-container {
      background-color: $backgroundColor62c3a2;
      color: $fontColorF;
      .now-integration-title {
        padding: 20px 0 0;
        @extend .centent22;
      }
      .now-integration {
        padding: 20px 0 30px 0;
        font-size: 38px;
        @extend .centent22;
      }
    }
    .integration-info {
      padding: 10px 0;
      border-bottom: $borderColorE;
      .used-integration-container {
        border-right: $borderColorE;
      }
      .used-integration-container,
      .total-integration-container {
        @include inblock-width($width50);
        .info-top-title,
        .info-bottom-content {
          @extend .centent22;
        }
        .info-top-title {
          @extend .font12-color7;
        }
      }
    }
  }
  .IntegrationConsumeList {
    .IntegrationTitle {
      .title {
        height: 40px;
        border-bottom: $borderColorD;
        background-color: $backgroundColorF0;
        text-align: center;
        line-height: 40px;
        font-size: $fontSize16;
      }
    }
    .record-container {
      padding: 10px;
      .record-title {
        padding: 10px 0 8px;
      }
      .record-first-row {
        border-top: $borderColorD;
        background-color: $backgroundColorF8;
        span {
          font-size: $fontSize14;
        }
      }
      .integration-record-list {
        border-bottom: $borderColorD;
        span {
          @include inblock-width($width33);
          line-height: 35px;
          text-align: center;
          font-size: $fontSize12;
        }
      }
    }
  }
    /*  .integration-record-list {           注释掉的是给表格用的
        width: 100%;
      }
      .integration-record-list tr {
        border-bottom: 1px solid #ddd;
      }
      .integration-record-list tr:first-child {
        border-top: 1px solid #ddd;
        background-color: #f8f8f8;
      }
      .integration-record-list td {
        text-align: center;
        line-height: 35px;
        font-size: 12px;
      }
      .integration-record-list tr:first-child td {
        font-size: 14px;
      }*/
  .TotalIntegrationList {
    .IntegrationTitle {
      .title {
        height: 40px;
        border-bottom: $borderColorD;
        background-color: $backgroundColorF0;
        text-align: center;
        line-height: 40px;
        font-size: $fontSize16;
      }
    }
    .total-integration-wrap {
      padding: 10px;
      .total-integration-item {
        padding: 5px 0;
        border-bottom: $borderColorD;
        line-height: 24px;
        .item-top-info span {
          &:first-child {
            float: left;
            color: $fontColorF30;
          }
          &:last-child {
            @extend .font12-color7;
            float: right;
          }
        }
        .item-bottom-info {
          @extend .font12-color7;
        }
      }
    }
  }
}  
  