body {
	background-color: #ececec;
}

.PhotoModule {
* {
	 box-sizing: content-box;
	font-size: 13px;
  line-height: 22px;
  table-layout: fixed;
  word-break: break-all; 
  font-family: '微软雅黑',Arial, Helvetica, sans-serif;  
}
	.CommonHeader .header {
		border: 0;
	} 

	/*front cover*/
	.content {
	  width: 90%;
	  margin: 20px auto auto auto;
	  padding: 0;
	  position: relative;
	  background-image: url(/images/PhotoGallery/bookborder.png);
	  background-repeat: no-repeat;
	  background-size: 100% 100%;
	}
	.cover-pic { 
	  margin: 20px;
	  height: 55%;
	  padding: 40px 40px 0 40px;
	  vertical-align: middle;
	  
	}
	.cover-title {
	  width: 80%;
	  text-align: center;
	  font-family: '方正清刻本悦宋简体';
	  color: #5a5a5a;
	  font-size: 18px;
	  height: 22px;
	  padding: 0;
	  margin: 0 auto;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	.cover-describe {
	  width: 80%;
	  text-align: center;
	  font-family: '方正清刻本悦宋简体';
	  color: #919191;
	  font-size: 14px;
	  line-height: 20px;
	  height: 40px;
	  padding-top: 10px;
	  margin: 0 auto;
	  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    font-size: 14px;
	}
	.cover-page-num {
	  width: 100%;
	  height: 16px;
	  padding: 0;
	  position: absolute;
	  bottom: 17px;
	  font-size: 14px;
	  text-align: center;
	  font-family: '方正兰亭纤黑';
	  color: #7b9eb5;
	}
	.decoration-image {
		display: inline-block;
		width: 40px;
		height: 16px;
		background-image: url(/images/PhotoGallery/fang.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: contain;
	}
	.picture-show{
		width: 100%;
		height: 100%;
	  overflow: hidden;
	  border: 1px solid #e5e5e5;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: 50% 50%;
	}
	.album-cover {
	  position: fixed; 
	  height: 100%; 
	  width: 100%
	}

	
}

.PhotoList {
	* {
    font-size: 13px;
    line-height: 22px;
    table-layout: fixed;
    word-break: break-all;
    font-family: '微软雅黑',Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
	}
	/*photo list*/
	.folw-box {
	  margin: 10px auto 0px auto; 
	  padding: 0; 
	  position: relative;
	  border:1px solid blue;
	}
	.photo-box {
    box-sizing: border-box;
    float: left;
		width: 50%;
    padding: 10px 10px 0 10px; 
    border-radius: 3px;
	}
	.PhotoItem {
		margin-top: 15px;
		border: solid 1px #efefef;
	}
	.photo-image {
	  width: 100%;
	  border-radius: 3px;
	}  
	.photo-title { 
	  padding: 10px 5px;
	  background-color: #fff
 }
 .hr {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 10px 0 10px 0;
}
.btn-go-top {
  position: fixed;
  right: 20px;
  bottom: 100px;
  border-radius: 20px;
  cursor: pointer;
  display: none;
  opacity: 0.5;
}
.nonews { 
  font-size: 16px;
  font-family: '方正清刻本悦宋简体';
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.bottomBox {
	width: 100%;
  height: 180px;
}
.bottom-logo { 
	display: block;
  position: absolute;
  padding-top: 40px;
  margin-bottom: 30px;
  width: 100%;
}
.loadend {
	display: inline-block;
  padding-top: 10px;
	margin-bottom: 10px;
	width: 280px;
	background: url(/images/photoGallery/left.png) no-repeat left center,url(/images/photoGallery/right.png) no-repeat right center;
  color: #819eaf;
  font-size: 16px;
  font-family: '方正清刻本悦宋简体';
}
.logo-pic {
  float: left;
  padding-left: 20px
}
.logo-text {
  float: left;
  padding-left: 10px;
}
.logo-text-up {
  font-size: 16px;
  line-height: 25px;}
.logo-text-down {
  font-size: 14px;
  color: #b8b8b8;
  line-height: 25px;
}
.logo-button {
  float: right;
  height: 35px;
  width: 80px;
  margin: 10px 10px 5px 10px;
  background-color: #fcfcfc;
  color: #676767;
  border-radius: 10px;
  border: 1px solid #7ea0b6;
  font-size: 16px;
}

/*  .photo-content {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    }
*/
}

.AlbumShow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
  }
.AlbumShow {
  * { 
    font-size: 13px;
    line-height: 22px;
    table-layout: fixed; 
    word-break: break-all; 
    font-family: '微软雅黑',Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;  
  }
  .clear { 
    clear:both;
  }

  .CommonHeader .header{
    z-index: 110000;
    background-color: #000;
    border: none;
  }
  .CommonHeader .ReturnButton{
    background: url('/images/photoGallery/back_check1.png') center no-repeat;
    background-size: 25px 23px;
  }
  .CommonHeader .Favor{
    background: url('/images/photoGallery/shoucangon.png') center no-repeat;
    background-size: 21px 21px;
  }
  .CommonHeader .noFavor{
    background: url('/images/photoGallery/shoucangoff.png') center no-repeat;
    background-size: 21px 21px;
  }
  .CommonHeader .CommentButton{
    background: url('/images/photoGallery/comment1.png') center no-repeat;
    background-size: 21px 21px;
  }
  .CommonHeader .DownLoadButton{
    background: url('/images/photoGallery/icon_download1.png') center no-repeat;
    background-size: 21px 21px;
  }
  .AlbumShowDisc {
    position: fixed;
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: #000;
    display: block;
    z-index: 10000;
  }
  .pic_comment_title {
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 18px;
  }
  .pic_comment_text {
    height: 85px;
    float: left;
    color: #fff;
    padding: 0 10px 10px 10px;
    font-size: 13px;
    line-height: 14px;
    width: 78%;
    overflow: auto;
  }
  .pic_page {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    height: 40px;
    width: 40px;
    background-image: url('/images/photoGallery/xiegang.png');
    background-repeat: no-repeat;
    background-size: 100% 100%
  }
  .span_page_num1 {
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .span_page_num2 {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .AlbumShowPic{
    z-index: 10000;
    width: 100%;
    height: 100%;
    list-style: none;
    white-space:nowrap;
  }
  .AlbumShowPicIterm{
    width: 100%;
    display: inline-block;
    height: 100%;
  }
}