.ProgressController {
  /*bgcolor*/
  $bgColorAE: #aeaeae;
  $bgColor90: #909090;
  $bgColor73cfb0: #73cfb0; 
  /*width*/
  $w100: 100%;
  position: relative;
  width: $w100;
  margin: 10px auto 0;
  .progress-dot-bg {
    position: absolute;
    width: $w100;
    height: 3px;
    background-color: $bgColor90;
  }
  #progress_buffer {
    position: absolute;
    z-index: 2;
    height: 3px;
    background-color: $bgColorAE;
    #progress {
      width: 1px;
      height: 3px;
      background-color: $bgColor73cfb0;
    }
  }
  #progress_dot {
    position: absolute;
    z-index: 3;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    margin-left: 0;
    border-radius: 50%;
    background-color: $bgColor73cfb0;
    &:before {
      position: absolute;
      top: -7px;
      left: -7px;
      width: 28px;
      height: 28px;
      content: '';
      background: transparent;
    }
  }
}