/*
* PanCheng
* 2015.12.2
* css for shoppingcart
*/
.Cart {
  $fontFamilyFZLTXH: "FXLTXHJW";
  /*fontsize*/
  $fontSize9: 9px; 
  $fontSize10: 10px; 
  $fontSize12: 12px;
  $fontSize15: 15px; 
  $fontSize18: 18px;
  /*fontcolor*/
  $fontColor3: #333;
  $fontColor6: #666;
  $fontColor9: #999;
  $fontColorF: #fff;
  $fontColorRed: #ff0000;
  $fontColor77CDB0: #77cdb0;
  $fontColor7DA0B4: #7DA0B4;
  /*border*/
  $borderC: 1px solid #ccc;
  $border62C3A2: 1px solid #62c3a2;
  /*bgcolor*/
  $bgColorF: #fff;
  $bgColorF6: #f6f6f6;
  $bgColor62C3A2: #62C3A2;
  $bgColor7DA0B4: #7DA0B4;
  $bgColor76CEB0: #76ceb0;
  /*width*/
  $w40: 40%;
  $w60: 60%;
  $w100: 100%;
  @mixin omission-custom($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    word-break: break-all;
  }
  .shopping-cart {
    position: fixed;
    right: 15px;
    bottom: 50px;
    z-index: 10001;
    width: 36px;
    height: 36px;
    opacity: 0.8;
    display: block;
    background: url("../../../../assets/images/cart_icon.png") no-repeat;
    background-size: 100% 100%;
    .goods-num {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 15px;
      height: 15px;
      border: $border62C3A2;
      text-align: center;
      font-size: $fontSize10;
      line-height: 15px;
      border-radius: 15px;
      background-color: $bgColor62C3A2;
      color: $fontColorF;
      z-index: 100;
      display: block;
    }
  }
  .shopping-goods {
    position: fixed;
    left: 0;
    bottom: 0;
    width: $w100;
    z-index: 11001;
    .confirm-top {
      width: $w100;
      height: 40px;
      background-color: $bgColorF6;
      line-height: 40px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      .confirm-title {
        width: 50px;
        height: 40px;
        margin-left: 20px;
        font-size: $fontSize15;
        line-height: 40px;
      }
      .cancel {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        margin-top: 7.5px;
        background: url("../../../../assets/images/cancel.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .cart-goods {
      width: $w100;
      max-height: 330px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
      background-color: $bgColorF;
      .nullBox {
        text-align: center;
        height: 40px;
        width: $w100;
        line-height: 40px;
        color: $fontColorRed;
      }
      .goods-item {
        width: $w100;
        height: 90px;
        margin-top: 20px;
        background: $bgColorF;
        .goods-img {
          margin-left: 20px;
          img {
            width: 70px;
            height: 70px;
            border: $borderC;
          }
        }
        .goods-detail {
          margin-left: 10px;
          flex: 1;
          margin-right: 20px;
          .goods-title {
            font-size: $fontSize12;
            line-height: 14px;
            color: $fontColor3;
            font-family: $fontFamilyFZLTXH;
            height: 30px;
            -webkit-box-orient: vertical;
            @include omission-custom(2);
          }
          .goods-size {
            font-size: $fontSize9;
            color: $fontColor6;
            height: 15px;
            line-height: 15px;
            font-family: $fontFamilyFZLTXH;
            @include omission-custom(1);
          }
          .goods-price {
            .oneprice {
              padding-top: 7px;
              font-size: $fontSize12;
              color: $fontColor77CDB0;
              text-align: left;
            }
            .cancel-goods {
              color: $fontColor9;
              width: 30px;
              padding-top: 8px;
              font-size: $fontSize12;
            }
            .classify-price {
              padding-top: 4px;
              margin-right: 10px;
              .goods-classify {
                padding: 0;
                margin: 0;
                color: $fontColor7DA0B4;
                height: 21px;
                width: 21px;
                text-align: center;
                line-height: 21px;
                font-size: $fontSize12;
                border: $borderC;
                &:nth-child(2) {
                  border-left: 0;
                  border-right: 0;
                }
              }
            }
          }
        }
      }
    }
    .confirm-footer {
      width: $w100;
      .confirm-footer-left {
        height: 50px;
        width: $w60;
        background-color: $bgColor7DA0B4;
        .total {
          margin-top: 5px;
          margin-left: 10px;
          text-align: left;
          font-size: $fontSize15;
          color: $fontColorF;
          .total-money {
            font-size: $fontSize18;
          }
        }
        .carriage {
          margin-left: 10px;
          font-size: $fontSize12;
          color: $fontColorF;
        }
      }
      .confirm-footer-right {
        height: 50px;
        width: $w40;
        line-height: 50px;
        color: $fontColorF;
        text-align: center;
        font-size: $fontSize18;
        background-color: $bgColor76CEB0;
        .confirm-num {
          font-size: $fontSize18;
          color: $fontColorF;
        }
      }
    }
  }  
  // .empty-shoppingcart {
  //   width: 100%;
  //   height: 40px;
  //   line-height: 40px;
  //   text-align: center;
  //   color: #76ceb0;
  // }
}