.CommentBox {
  /*font-size*/
  $fontSize10: 10px;
  $fontSize12: 12px;
  $fontSize14: 14px;
  $fontSize16: 16px;
  /*fontcolor*/
  $fontColor3: #333; 
  $fontColor6: #666; 
  $fontColor9: #999;
  $fontColorF: #fff;
  $fontColor7A: #7a7a7a;
  $fontColor90: #909090;
  $fontColor77CDB0: #77cdb0; 
  /*border*/
  $borderD: 1px solid #ddd;
  $borderE5: 1px solid #e5e5e5;
  $borderD1: 1px solid #d1d1d1;
  $borderCB: 1px solid #cbcbcb;
  /*bgcolor*/
  $bgColorWhite: #fff;
  $bgColorE9: #e9e9e9;
  $bgColorF0: #f0f0f0;
  $bgColorFD6E2C: #fd6e2c;
  /*width*/
  $w60: 60%;
  $w89: 89%;
  $w100: 100%;
  
  background-color: $bgColorWhite;
  -webkit-tap-highlight-color: transparent;
	input {
		border: none;
		outline: none;
		background-color: transparent;
	}
	.CommentCommonHeader {
		font-size: $fontSize14;
		line-height: 2.5em;
		color: $fontColor7A;
		background-color: $bgColorE9;
		.title {
			padding-left: 15px;
		}
		.amount {
			margin-left: 15px;
			color: $fontColor77CDB0;
		}
		.no-amount {
			text-align: center;
			border-top: $borderD;
			border-bottom: $borderD;
			background-color: $bgColorF0;
			.title {
				float: none;
				padding-left: 0;
				color: $fontColor3;
				font-size: $fontSize16;
			}
		}
	}
	.comment-list {
		padding-bottom: 44px;
    .CommentItem {
      padding: 10px 15px 10px 0;
      margin-left: 15px;
      border-bottom: $borderE5;
      .user-avatar {
        width: 30px;
        height: 30px;
        border: $borderE5;
        border-radius: 100%;
        overflow: hidden;
        background: url(/images/avatar_default.png) no-repeat;
        background-size: 100% 100%;
        img {
          display: none;
          width: $w100;
          height: 100%;
        }
        .avatar {
          display: inline-block;
        }
      }
      .user-info {
        padding-left: 10px;
        color: $fontColor3;
        .user-name {
          font-size: $fontSize12;
        }
        .comment-time {
          font-size: $fontSize10;
          color: $fontColor6;
          vertical-align: super;
        }
      }
      .like {
        font-size: $fontSize10;
        color: $fontColor90;
        .like-icon {
          display: inline-block;
          width: 22px;
          height: 20px;
          background: url(/images/icon_set.png) no-repeat;
          background-size: 150px 375px;
        }
        .on {
          background: url(/images/icon_set.png) no-repeat -30px 0;
          background-size: 150px 375px;
        }
        .like-num {
          padding-left: 3px;
        }
      }
      .text {
        font-size: $fontSize12;
        word-break: break-all;
      }
    }
	}
	.comment-write-guide {
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 10000;
		width: $w100;
		padding: 9px 15px;
		border-top: $borderD1;
		background-color: $bgColorWhite;
		line-height: 27px;
		color: $fontColor9;
		font-size: $fontSize12;
		.write-comment-btn {
			display: inline-block;
			width: $w60;
			border-right: $borderD1;
			.icon {
				display: inline-block;
				width: 30px;
				height: 20px;
				padding-right: 5px;
				background: url(/images/top/wechat_icon.png) no-repeat -33px -154px;
				background-size: 400px 300px;
				vertical-align: sub;
			}
		}
		.comment-num {
			display: inline-block;
			padding-left: 30px;
			background: url(/images/top/wechat_icon.png) no-repeat -28px -193px;
			background-size: 400px 300px;
		}
	}
	
  .CommentItemCommunity {
		padding: 10px 15px 10px 10px;
		border-bottom: $borderE5;
		background-color: $bgColorWhite;
		.user-avatar {
			width: 30px;
			height: 30px;
			border: $borderE5;
			border-radius: 100%;
			overflow: hidden;
			background: url(/images/avatar_default.png) no-repeat;
			background-size: 100% 100%;
			img {
				display: none;
				width: $w100;
				height: 100%;
			}
			.avatar {
				display: inline-block;
			}
		}
		.user-info {
			max-width: $w89;
			padding-left: 10px;
			color: $fontColor3;
			.user-name {
				font-size: 12px;
			}
			.comment-time {
				font-size: 10px;
				color: $fontColor6;
				vertical-align: super;
			}
		}
		.text {
			font-size: 12px;
			word-break: break-all;
		}
	}
	.CommentItemPurchaseAdvice {
		background-color: $bgColorWhite;
		padding: 10px;
		.question-wrap {
			.question-avatar {
				width: 25px;
				height: 100%;
				color: $fontColorF;
				.avatar {
					display: inline-block;
					width: 25px;
					height: 25px;
					border-radius: 100%;
					background-color: $bgColorFD6E2C;
					text-align: center;
				}
			}
			.text {
				width: 90%;
				padding-left: 10px;
			}
		}
	}
}