@charset "UTF-8";
@import "../../../assets/sass/_common.scss";
.UserMenuPage {
  /*font-color*/
  $fontColor3: #333;
  $fontColor7: #777;
  $fontColor9: #999;
  $fontColorF: #fff;
  $fontColor61c3a2: #61c3a2;
  $fontColor62c3a2: #62c3a2;
  $fontColor7da0b4: #7da0b4;
  
  /*font-size*/
  $fontSize18: 18px;
  $fontSize16: 16px;
  $fontSize14: 14px;
  $fontSize12: 12px;
  $fontSize10: 10px;
  
  /*常用border*/

  $borderColorC: 1px solid #ccc;
  $borderColorD: 1px solid #ddd;
  $borderColorE4: 1px solid #e4e4e4;
  $borderColor61c3a2: 1px solid #61c3a2;
  $borderColorE: 1px solid #eee;

  /*font-family*/
  $fontFamilyYaHei: 'Microsoft YaHei';
  
  /*bg-color*/
  $backgroundColorE: #eee;
  $backgroundColorF: #fff;
  $backgroundColorC9: #c9c9c9;
  $backgroundColorF8: #f8f8f8;
  $backgroundColor61c3a2: #61c3a2;
  $backgroundColor7da1b4: #7da1b4;
  
  /*width*/
  $w25: 25%;
  $w32: 32%;
  $w33: 33%;
  $w35: 35%;
  $w50: 50%;
  $w55: 55%;
  $w100: 100%;
  
  /*浮动大小*/
  @mixin float-width($direction,$sizing) {
    float: $direction;
    width: $sizing;
  }

  @mixin slider-dot($bgColor) {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin: 0 5px;
    background-color: $bgColor;
  }
    /*一行*/
  @mixin a-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  @mixin icon-img($position) {
    height: 30px;
    background-image: url(../../../assets/images/wechat_icon.png);
    background-repeat: no-repeat;
    background-position: $position;
    background-size: 400px;
    vertical-align: bottom;
  }
  
  .img-common {
    position: absolute;
    top: 0;
    left: 0;
    width: $w100;
    height: 100%;
  }
  .UserInfo {
    padding: 0px 20px 0;
    height: 90px;
    background-color: $backgroundColorF;
    .user-new-img {
      text-align: center;
      padding-top: 10px;
      max-width: $w35;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }
      .user-name {
        text-align: center;
        padding-top: 5px;
        color: $fontColor62c3a2;
        font-size: $fontSize14;
        @include a-line; 
      }
    }
    .user-table {
      width: $w55;
      padding-top: 30px;
      text-align: center;
      font-size: $fontSize10;
      color: $fontColor3;
      .border-aside {
        border-left: $borderColorE;
        border-right: $borderColorE;
      }
      .user-table-td {
        width: $w32;
        display: inline-block;
        a {
          text-decoration: none;
          color: $fontColor3;
          font-size: $fontSize14;
          .word {
            text-align: center;
            line-height: 12px;
            font-size: $fontSize10;
            color: $fontColor3;
          }
        }
      }
    }
  }
  .boder-style {
    height: 10px;
    background-color: $backgroundColorF8;
    border-bottom: $borderColorE;
    border-top: $borderColorE;
    width: $w100;
  }

  .BookShelf {
    width: $w100;
    background-color: $backgroundColorF;
    overflow: hidden;
    color: $fontColor3;
    position: relative;
    .top-title {
      margin: 20px 10px 0;
      background-color: $backgroundColorF;
      .line {
        height: 1px;
        background-color: $backgroundColorE;
        width: $w100;
      }
      .title {
        z-index: 1000;
        width: 70px;
        line-height: 18px;
        font-size: 12px;
        color: fontColor7;
        margin: auto;
        background: $backgroundColorF;
        text-align: center;
        margin-top: -10px;
      }
    }
    .book-box {
      position: relative;
      left: 0;
      white-space: nowrap;
      @media screen and (min-device-height: 568px) {
        padding-top: 5%;        
      }
      @media screen and (max-device-height: 568px){
        padding-top: 0;
      }
      .bookWrap {
        .my-books {
          padding: 5px 20px 0;
          background-color: $backgroundColorF;
          a {
            overflow: visible;
            @include float-width(left,23%);
            margin: 5px 15% 5px 0;
            color: $fontColor3;
            text-decoration: none;
            &:nth-of-type(3n) {
              @include float-width(left,23%);
              margin: 5px 0;
              color: $fontColor3;
            }
            .book-img-container{
              position: relative;
              padding-top: 142.8572%;/*200*140*/
              .book-img {
                @extend .img-common;
                box-shadow: 1px 3px 5px $backgroundColorC9;
              }  
            }
            .book-name {
              color: $fontColor3;
              padding-top: 10px;
              text-align: center;
              @include a-line;
              width: $w100;
              height: 22px;
              line-height: 11px;
              font-size: $fontSize10;
            }
          }
        }
      }
    }
    .page-dots {
      width: $w100;
      text-align: center;
      position: absolute;
      bottom: 15px;
      left: 0;
      .SliderDot {
        text-indent: 2px;
        text-align: center;
        .slider-dot-hover {
          @include slider-dot(#62c3a2);
        }
        .slider-dot-item {
          @include slider-dot(#b4b4b4);
        }
      }
    }
    .books-bottom {
      height: 10px;
      background-color: $backgroundColorF8;
      border-bottom: $borderColorE;
      border-top: $borderColorE;
      position: absolute;
      left: 0;
      bottom: 0;
      width: $w100;
    }
  }

  .ToSocialArea {
    width: $w100;
    background-color: $backgroundColorF;
    position: fixed;
    bottom: 0;
    left: 0;
     .menu-box {
      padding: 5px 20px 0 20px;
      margin-top: 5px;
      .menu-content {
        height: 40px;
        .shequ {
          @include float-width(left,30px);
          @include icon-img(-132px -235px);
        }
        .menu-bottom-td {
          display: inline-block;
          vertical-align: bottom;
          height: 30px;
          line-height: 30px;
          padding-left: 10px;
          color: $fontColor3;
          .menu-title {
            font-size: $fontSize10;
            color: $fontColor9;
          }
        }
        .arrow-go {
          @include float-width(right,30px);
          @include icon-img(-345px -42px);
        }
      }
    }
  }
}